{% extends "base.html" %}
{% block title %}천지행공에 관하여{% endblock%}
{% block content %}



  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">
          <h2 class="mt-3">몸의 줄기 척추를 튼튼하게</h2>
          <p>산과 언덕은 기운이 다르다. 산은 줄기와 맥(脈)을 지니고 있지만 언덕엔 줄기와 맥의 기운이 없다.
            인간의 몸은 언덕이 아니라 산이다. 척추라는 줄기를 지니고 있다. 인간의 모든 것은 척추를 둘러싸기 위한
            전주곡일 뿐이다. 태아가 어머니 뱃속에서 자랄 때 가장 먼저 형성되는 것이 척추 속에 들어 있는 척수이다. 천지행공의 꽃은 몸의 줄기인 척추를 튼튼하게 하는 것이다.</p>
        </div>
        <div class="col-md-3">
          <div class="d-flex justify-content-center">
            <img src="/static/img/wastebend.jpg" alt="" class="img-fluid rounded d-block mt-2 mb-1" style="height:300px;">
        </div>
        </div>
      </div>
    </div>
  </section>

  <section id="icon-boxes" class="p-1">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="bg-secondary text-left text-white">
            <div class="card-body">
                <h3>예비행공</h3><br>
                <p>예비행공은 반가부좌 자세에서 단전호흡을 하면서 오장육부에 기를 불어넣는 행공이다.
                  처음에는 발이 저리기도 한다. 일상생활에서 자주 취하는 동작이 아니기에 불편하기도 하다.
                  그러나 대퇴부 위에 벽돌처럼 차곡차곡 쌓여있는 척추, 그리고 척추와 연결되어 있는 오장육부에 올바로 기운을 주기 위해서는 대퇴부를 반듯하게 고정시켜야 하고 이를 위해 반가부좌를 트는 것이다.</p>
                <a href="#yebi" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-success text-left text-white">
            <div class="card-body">
                <h3>기초행공</h3><br>
                <p>천지행공에서 '3돌기'라고 표현하는 부분이 있다. 목, 허리, 발목이 바로 '3돌기'로서, 이 3곳이 잘 돌아가야 건강하다고 할 정도로 아주 중요하다.<br>발목은 평생 몸무게를 지탱하는 힘든 일을 한다. 비뚤어진 자세와 병의 근원은 발에서 비롯된다고 해도 과언이 아니다.</p>
                <a href="#gicho" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-danger text-left text-white">
            <div class="card-body">
                <h3>본행공</h3><br>
                <p>본행공은 척추 33마디를 풀어주고 제자리를 잡아주는 행공이다. 척추 33마디는 경추(목뼈) 7, 흉추(가슴뼈) 12, 요추(허리뼈) 5, 천추(천골, 엉치뼈) 5, 미추(미골, 꼬리뼈) 4마디로 이루어져 있다. 몸을 푸는 순서는 위에서 아래로 내려간다. 목(경추)을 풀고, 어깨(견갑골)를 풀고, 가슴(흉추)을 풀고, 허리(요추)를 풀고, 무릎을 푼다.</p>
                <a href="#bon" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="bg-secondary text-left text-white">
            <div class="card-body">
                <h3>마무리행공</h3><br>
                <p>마무리 행공은 행공으로 인해 온 몸을 흐르고 있는 기운을 정리정돈하여 단전에 갈무리하는 행공이다.</p>
                <a href="#mamu" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-primary text-left text-white">
            <div class="card-body">
                <h3>나는 누구인가</h3><br>
                <p>나는 원래 하나의 기운이었다. 그것이 상(像)으로 표현된 것이 나다. 나의 상은 몸이다. 몸은 대우주의 섭리를 알고 있다. 머리는 모른다. 몸은 미치도록 행공해야 본성을 드러낸다. 나의 주인은 몸이다. 마음이 아니다.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-success text-left text-white">
            <div class="card-body">
                <h3>나를 찾는 호흡</h3><br>
                <p>대우주의 에너지로 잃어버린 나의 능력을 되찾을 수 있다. 천지행공을 하면 대우주의 에너지가 내 몸 속으로 들어와서 뼛속에 쌓이게 된다. 대우주의 에너지와 내가 합일(合一)이 될 때 비로소 나를 찾게 된다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="yebi">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">

          <h1>예비 행공</h1>
          예비행공은 반가부좌 자세에서 단전호흡을 하면서 오장육부에 기를 불어넣는 행공이다. 처음에는 발이 저리기도 한다. 일상생활에서 자주 취하는 동작이 아니기에 불편하기도 하고 왜 이렇게 해야 하는지 의문이 생기기도 한다.
          그러나 대퇴부 위에 벽돌처럼 차곡차곡 쌓여있는 척추, 그리고 척추와 연결되어 있는 오장육부에 올바로 기운을 주기 위해서는 대퇴부를 반듯하게 고정시켜야 하고 이를 위해 반가부좌를 트는 것이다.<br>
          예비행공은 앉는 자세가 가장 중요하다. 수도관이 구부러져 있으면 물이 잘 흘러가지 못하듯이 행공에서도 자세가 바르지 않으면 기운을 제대로 보낼 수 없다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/sitMan_opt.jpg" alt="" class="img-fluid d-block" style="height:200px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          반가부좌를 할 때 남성은 왼발(음)이 아래, 오른발(양)이 위, 여성은 오른발(음)이 아래, 왼발(양)이 위에 오도록 한다. 손을 놓는 위치는 남성은 왼손(음)이 아래 오른손(양)이 위, 여성은 오른손(음)이 아래, 왼손(양)이 위로 가도록 한다. 음이 양을 감싸고 있는 우주의 근본 섭리에 따르는 자세이다.<br>
          그렇게 한 다음 회음(남성을 예로 들면 낭심과 항문 사이)이 바닥에 닿고, 정수리에 있는 백회와 수직을 이루도록 한다. 이런 자세를 취하려면 허리(요추)가 뒤로 물러나지 않고 앞으로 쑥 밀고 들어가야 하는데, 처음에는 쉽지 않다. 일상생활에 부대끼면서 몸이 비뚤어져 있기 때문이다.<br>
          그러나 이 자세는 건강한 몸으로 돌아가는 출발점이며 행공을 열심히 하여 뭉친 요추가 풀리면 자연스럽게 이 자세를 취할 수 있게 된다. 요추가 풀려서 상체를 제대로 받치고, 움츠렸던 가슴이 열리면 새로운 경지를 체험하게 된다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/sitLady_opt.jpg" alt="" class="img-fluid d-block" style="height:200px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          토호흡은 예비행공 전과 후에 하는데, 각각 차이가 있다.<br><br>
 ◇ 예비행공 전 토호흡: 일상생활을 하면서 쌓였던 객기와 탁기 등 모든 것을 비우는 호흡이다. 입을 약간 벌려 길게 그리고 한 점도 남김없이 뱉어낸다. 회수는 3번.<br>
          ◇ 예비행공 후 토호흡: 예비행공을 하는 동안 오장육부 구석구석으로 운기된 기운을 다시 조용히 가라앉히고 단전으로 모아 갈무리하는 호흡이다. 입은 다물고 코로만 호흡하며 회수는 2번.  <br><br>
          예비행공 전후에 하는 토호흡은 외형상으로는 입을 열고, 닫고의 차이만 있지만 그 속에 담긴 의미는 이처럼 다르다.  토호흡을 하는 구체적인 방법은 다음과 같다.  '지~' 호흡에 맞춰 상체를 앞으로 굽히는데 마치 다 타버린 재가 제 무게를 견디지 못해 스르르 내려 앉는 것처럼 상체를 내려놓는다. 이렇게 상체를 내려놓기 위해서는 아랫배가 등에 붙을 정도로 아주 천천히, 그리고 깊숙하고도 깊게 숨을 내 쉬어야 한다. 팔은 상체가 무너짐에 따라 자연스럽게 앞으로 밀려나가도록 한다.  이때 주의할 점은 상체를 바닥에 가깝게 붙이기 위해 엉덩이를 들리지 않도록 한다. 엉덩이가 들리면 수련에 도움이 되지 않는다. 상체가 많이 내려가지 않는다고 해서 조급해 할 필요가 없다. 중요한 것은 아랫배가 등에 붙을 정도로 깊이깊이 호흡하는 것이다. 호흡이 깊어지면 몸 구석구석에 기가 스며들고 그 때가 되면 재가 내려 앉듯이 상체가 편안하게 바닥에 붙게 된다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/toho.jpg" alt="" class="img-fluid d-block" style="height: 130px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          예비행공은 단전의 기운을 끌어올려 손가락 끝으로 보내면서 상체를 쫘악 펴서 오장육부를 운기시키는 행공으로서 크게 4가지 묶음으로 나눌 수 있다. 첫 단계가 1~4번이다.
          1번은 단전의 기운을 손끝으로 보내는 행공이다. 단전의 힘으로 척추를 미골에서부터 위쪽으로 밀어 올리면서 손도 함께 따라 올라가는데, 단전의 기운과 함께 손이 가슴까지 왔을 때 그 기운을 손가락 끝으로 몰아 가면서 두 손을 어깨높이에서 양 옆으로 활짝 펼친다. 단전의 기운이 손가락 끝으로 막다른 골목처럼 몰려가므로 손가락도 팽팽하게 펴져야 한다. 마치 풍선이 팽창하듯이 기운이 몰려와 손가락을 쫘악 펴게 되니 척추 팔꿈치 등 상체의 어떤 부위도 접히거나 굽은 곳이 없어야 한다. ‘지~’ 호흡 때는 손가락에 몰려있는 기운을 다시 단전으로 회수한다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/yebiFront_opt.jpg" alt="" class="img-fluid d-block" style="height:150px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          2번 행공의 방법은 1번과 같다. 1번 행공은 팔을 펼치는 방향이 어깨와 수평이지만 2번 행공은 팔의 방향이 어깨와 머리의 가운데, 즉 45도 방향이다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/yebi2Front_opt.jpg" alt="" class="img-fluid d-block" style="height:200px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          3번은 ‘천~’ 호흡에 양팔을 어깨와 수평으로 펼치는 것까지는 1번과 같다. ‘지~’호흡에 고개를 돌려서 시선을 왼손가락 끝에 두고 허리를 왼쪽으로 최대한 돌려준다. 이때 팔은 어깨와 수평을 유지한다. 수련이 깊어지면 허리를 의식하지 않아도 손끝에 머물고 있는 단전의 기운으로 허리를 이끌 수 있다. 호흡이 동반되지 않고 힘과 욕심이 들어가면 허리는 돌아가지 않고 어깨 또는 팔만 돌아가게 되므로 유의해야 한다. ‘천~’호흡에 비튼 허리를 제자리에 갖다 놓고, ‘지~’ 호흡에 팔을 내려 놓는다. <br>
          4번은 3번과 같으나 시선과 허리가 돌아가는 방향이 오른쪽인 점이 다르다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/yebi3_opt.jpg" alt="" class="img-fluid d-block" style="height:150px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          4가지의 예비행공 묶음 중 2번째 단계가 5~7번이다.  '천~' 호흡에 단전의 기운을 손의 움직임과 함께 천천히 위로 끌어 올려서 허파를 감싼 다음 아래로 끌어내려, 갈비뼈가 끝나는 양 옆구리 뒷부분에서 손을 말아서 앞쪽(5번), 옆쪽(6번), 위쪽(7번)으로 기운을 힘차게 밀어 낸다. <br>
          특히 손을 내밀 때는 단순히 팔을 들고 있는 것이 아니라, 단전의 기운이 손바닥에 몰리는 것이기에, 그 기운으로 계속 밀고 있어야 한다. 비유하자면 손을 앞으로 미는 것은 비탈길에서 굴러 내려오고 있는 큰 바위를 받치고 있는 것과 같고, 옆으로 미는 것은 양쪽에서 닫히려고 하는 육중한 문을 미는 것과 같고, 위로 미는 것은 무거운 물건을 떠 받치는 것처럼 양손에 기운을 계속 주어야 한다. 단전의 기운은 곧바로 손으로 전달되어야 하므로 척추, 팔 등 상체를 쫘악 편다. 굽은 곳이 없도록 한다.<br>
          '지~'호흡에는 손에 몰려 있던 기운을 호흡에 맞춰 천천히 단전으로 회수한다. 손과 팔도 기운을 풀고 처음 자세로 돌아온다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/yebi5_opt.jpg" alt="" class="img-fluid d-block" style="height:200px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          8번은 '천~' 호흡에 양손(손바닥은 아래로)과 팔을 어깨와 수평이 될 때까지 양 옆으로 밀어 올린다. 팔을 그냥 드는 게 아니라 단전의 기운으로 밀어 올리는 것이다. 손과 팔이 어깨 높이로 밀려 올라가면 손바닥이 하늘을 향하게 뒤집는다. 이때부터는 호흡에 맞쳐 손가락 끝이 팔을 끌고 올라간다. 이와 리듬을 맞추어 척추도 미골에서부터 백회 방향으로 쭈우욱 계속 밀어 준다.<br>
          백회 위에서 양손이 만날 때까지가 '천~'호흡이며, 그 다음 ‘지~'호흡에 서로 만난 양손을 포개어 천천히 내려서 백회를 가볍게 덮어준다. 마음은 손끝에 집중하며 최대한 받아들인 대우주의 에너지가 흩어가지 못하게 백회를 덮어주는 것이다.<br>
          다시 '천~' 호흡에 백회를 덮었던 양손을 위로 올렸다가 서서히 내려온다. 양옆 어깨높이까지 왔을 때 '지~'호흡과 함께 기운을 단전에 갈무리한다.  9번은 '천~'호흡에 양손과 팔을 어깨높이까지 밀어 올리는 것까지는 8번과 같다. 그 다음 마치 우주를 품 안에 감싸듯, 양 손끝으로 팔을 최대한 크게 이끌어 가슴 앞으로 기운을 모으면서 양손이 만나게 한다.<br>
          '지~' 호흡에 천천히 깊이 숨을 내쉬면서 양손과 팔 그리고 가슴 사이에 모인 기운을 단전으로 갈무리한다.<br>
          다시 '천~'호흡에 척추가 미골에서 백회 방향으로 쭈욱 밀려 올라가도록 하고, 가슴이 펼쳐지는 동시에 이 기운으로 양팔이 자연스레 크게 옆으로 벌어지게 한다.<br>
          양옆으로 벌어진 팔은 '지~'호흡에 단전으로 기운을 모으면서 처음 위치로 돌아온다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/yebi7.jpg" alt="" class="img-fluid d-block" style="height:250px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          10번은 '천~' 호흡으로 단전의 기운을 미골(꼬리뼈)에서부터 척추를 통과하여 백회(정수리)까지 일직선으로 쭈욱 밀어올린다. 손과 팔은 단전의 기운이 막힘 없이 수직으로 올라가도록 호흡 및 기운의 움직임에 맞춰서 위로 쭈욱 뻗어 올린다.
          2번 행공과 비슷하지만 손과 팔을 펴는 방향이 다르다. 2번 행공에서는 손과 팔을 어깨와 머리 사이, 즉 45° 방향으로 뻗지만 10번 행공에선 두 손을 일직선으로 하늘을 향해 활짝 펼친다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/yebi10_2_opt.jpg" alt="" class="img-fluid d-block" style="height:250px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          11, 12번은 예비행공 마지막 동작으로 임독맥을 연결하는 행공이다. 임맥은 회음에서부터 몸통 앞 중앙선을 아래 입술까지 흐른다. 독맥은 회음에서 장강 그리고 몸통 뒤 중앙선을 타고 올라가 백회를 지나 윗입술까지 흐른다. 임독맥을 통해 기운을 한 바퀴 순환시키는 것이 소주천이다 11번은 '천~'호흡에 손바닥을 마주하며 회음에서 부터 기운을 모아 명치 부근에서 기운을 갈무리 한 다음 호흡과 같이 차츰 밀어 올려 아랫입술, 윗입술을 지나 백회까지 연결하며 마주한 손을 백회 위로 밀어 올린다.<br>
          '지~'호흡 땐 백회에 있던 기운이 몸통 뒤 중앙선을 타고 내려와 회음에 이르도록 한다.  백회 위에 모아두었던 양손은 옆으로 펼쳐 호흡에 맞춰서 내려온다.<br><br>
          12번의 운기는 11번과 반대방향이다. '천~'호흡에 몸통 뒤 중앙선 독맥을 따라 백회로 기운을 끌고 간다. '지~'호흡에 기운이 몸통 앞부분 임맥을 따라 회음으로 돌아오게 한다. 11,12번 행공에서 특히 호흡과 더불어 마음이 몸통 중앙선, 즉 임맥과 독맥을 따라 기운과 함께 움직이도록 해야 한다. 수련을 열심히 하면 새로운 기운이 찾아온다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/yebi10_opt.jpg" alt="" class="img-fluid d-block" style="height:250px;">
        </div>
        </div>
      </div>
    </div>
  </section>

  <section id="gicho">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <br>
          <h1>기초 행공</h1>
          기초행공은 대퇴부에서 발가락까지의 관절을 풀고 기운을 보내는 행공이다. 네발로 움직이던 인간이 두 발로 서게 됨으로써 엄청난 문명을 이루었지만, 대퇴부는 균형을 잃게 되었고 그 위의 척추도 중심을 잃게 되었다. 기초 행공을 통해 대퇴부를 풀고 오금을 펴고 발목과 발가락을 풀어준다.
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          발목 돌리기는 오른쪽 다리를 쭉 펴고 왼 다리의 무릎을 접어 오른 다리 위에 올려 놓는다. 그 다음 왼손 엄지 손가락으로 왼발 복숭뼈 바로 밑의 조해혈을 힘껏 눌러주고, 집게 손가락으로는 반대편 다리와 발의 관절이 연결되는 부분을 잡는다. 오른손으로 왼발의 발가락 부분을 가볍게 감싸 쥐고 발목을 크고 부드럽게 돌린다. 이때 발목에 힘이 들어가지 않도록 탈기한다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/balmok_doli_opt.jpg" alt="발목돌리기" class="img-fluid d-block" style="height:200px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          발목을 돌린 후 발목 비틀기를 한다. 손가락으로 깍지를 끼어 발을 잡되 발바닥은 하늘을 향하게 한다. '지~'호흡에 왼팔꿈치가 접혀진 왼발 앞쪽으로 빠지면서 손의 힘이 아니라 몸이 숙여지는 힘으로 발목을 비틀어 준다. <br>'천~'호흡에 일어나며, 다시 '지~'호흡에는 발바닥이 땅을 향하도록 엄지발가락을 밀며 몸이 뒤로 쓰러지는 힘으로 발목을 비틀어준다. 발목 돌리기와 비틀기를 한 다음 한번 더 발목을 꺾어준다. 왼발목을 접어 오른 다리 위에 놓는다. '지~'호흡에 상체를 숙이면서 아랫배가 발목을 눌러준다. 이때 오른발은 반드시 수직으로 세워야 한다. 오른발이 넘어져 있으면 기운이 바깥으로 새어나가기 때문이다.<br>
          다음에는 오른쪽 다리의 무릎을 접어 쭉 편 왼 다리위로 올려 놓고 같은 방법으로 발목을 돌리고 비틀기를 한다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/balmok_bitlgi4_opt.jpg" alt="발목비틀기" class="img-fluid d-block" style="height:150px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>다리 펴고 상체 굽히기</h3>
            다리를 뻗고 상체를 바닥에 닿게 하는 행공에는 두 다리를 모은 자세, 어깨넓이로 벌린 자세, 900로 벌린 자세 등 3가지가 있다. 이 3가지는 골반이 벌어지는 각도가 다르기 때문에 각각 의미가 있다. 유의해야 할 사항은 다음과 같다. <br><br>
            (1) 무릎을 굽히지 마라 <br>
            (2) 엉덩이를 들지 마라<br>
            (3) 상체를 탈기시키고 미골로 밀어라 <br><br>
            상체가 탈기되어 이마 또는 아랫배가 바닥에 붙으면 그냥 그대로 있는 것이 아니라 미골에서 머리(백회혈)로 계속 기운을 밀고 있어야 한다. 이것이 바로 천지행공의 핵심 요소인 "정중동(靜中動, 겉으로 보기에는 가만히 정지해 있어도 속에서는 끊임없이 기운을 밀어내는 상태)"이다. 이렇게 하면 상체가 아랫배부터 가슴까지 바닥에 완전히 붙게 된다. 
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/darimoa2_opt.jpg" alt="" class="img-fluid d-block" style="width:250px; height:100px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>반 가위 벌리기 </h3> 
        한쪽 다리를 앞(뒤)으로 접고 다른 쪽 다리를 쭉 편 상태에서 상체를 굽히는 행공은 반(半) 가위 벌리기라고 할 수 있다. 이 행공의 핵심은 뻗은 다리의 안쪽 선을 최대한 쫘악 펴는데 있다.  편 다리와 접은 다리는 최대한 일직선 상에 두도록 한다. 상체는 접은 다리 쪽을 향해 틀어준다. 준비 자세 후 '지~'호흡에 펴고 있는 다리 방향으로 상체를 호흡과 함께 천천히 내려 놓는다. '천~' 호흡에 상체를 일으킨 후 처음 자세로 돌아간다. 여기서 놓치지 말아야 할 것은 '호흡'이다. 동작이 어려우므로 아픔이 실려오고, 아픔이 오면 자신도 모르게 호흡을 멈출 수 있다. 그러나 행(동작)보다 중요한 것이 호흡이며, 행공 중 호흡을 정지해선 절대 안 된다. 마시지 않으면 내쉬고 있어야 하며, 특히 아픔을 만나면 '지~' 호흡으로 깊숙이 인사하는 습관을 익혀야 한다.<br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/bangawi1_opt.jpg" alt="" class="img-fluid d-block" style="height:150px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3> 다리 벌리기 </h3>
        다리옆  다리 벌리기는 가위 벌리기와 함께 대퇴부를 풀어주는 행공의 백미라고 할 수 있다. 그렇기 때문에 반 가위 벌리기 등 많은 예비동작 후 이 행공에 들어간다. 다리벌리기는 다리 안쪽 선을 최대한 팽팽하게 당겨서 펴는 것이다. 다리를 최대한 편 상태에서 탈기를 하고, 발을 수직으로 세워서 뒤꿈치가 바닥 위에서 가볍게 양 옆으로 밀려나가도록 한다. 다리 벌려 앉은 자세를 취한 뒤 허리를 앞으로 밀어 넣고 가슴을 편 다음, '지~'호흡에 상체를 충분히 탈기시켜 내려 놓는다. 중상급자는 아랫배부터 바닥에 닿도록 한다.<br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/daribul_opt.jpg" alt="" class="img-fluid d-block" style="height:200px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>가위 벌리기 </h3>
        다리 벌리기가 대퇴부를 탈기시켜 풀어주는 방향이 좌우라면, 가위 벌리기는 그 방향이 앞뒤이다.<br>
        한쪽 다리를 앞으로 쭉 뻗은 다음 양손으로 바닥을 짚어 체중을 받친다. 팔을 차츰 낮추면서 상체(회음)를 천천히 바닥에 내려 놓는다. 이때 앞으로 뻗은 다리를 굽히면 안 된다. 뻗은 다리를 앞으로 계속 쭉 밀면서 내려가야 하며, 반대편 다리는 뱀의 꼬리처럼 뒤따라 오도록 한다. 회음이 바닥에 닿은 후 상체를 반듯하게 세우고 양손은 가볍게 허벅지와 허리에 둔다. '지~'호흡에 상체를 탈기시켜 내려 놓는데, 앞으로 뻗어있는 다리에 상체를 최대한 붙인다. ‘천~’호흡에 단전의 기운으로 상체를 일으킨다. 가위 벌리기는 오금이 펴지고 대퇴부가 어느 정도 풀려야 올바른 자세가 나오는 어려운 동작이다. 그러므로 꾸준히 수련하면 오금과 대퇴부가 풀리게 된다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/gawi1_opt.jpg" alt="" class="img-fluid d-block" style="height:150px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
      <h3>다리 날개 벌리기 </h3>
      다리날개펴기 1/2  팔이 되는 동작은 다리도 가능하다. 체조 선수나 발레리나는 다리를 팔처럼 자유자재로 움직인다.<br>
     다리로 날개를 벌릴 때는 무게중심이 양다리와 골반에 1/3씩 나누어 실리도록 한다.<br><br>
     이 행공은 기초행공의 마지막 단계에 있는 것은 ‘다리 펴고 상체 굽히기’ ‘다리벌리기’, ‘가위 벌리기’ 등의 대퇴부 탈기를 정리하는 의미가 있다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/darinalge2_opt.jpg" alt="" class="img-fluid d-block" style="height:150px;">
         </div>
        </div>
      </div>
  </div>
  </section>

  <section id="bon">
    <div class="container">
      <div class="col-12">
        <hr>
        <br>
        <h1>본행공</h1><br>
        본행공은 척추 33마디를 풀어주고 제자리를 잡아주는 행공이다. 척추 33마디는 경추(목뼈) 7, 흉추(가슴뼈) 12, 요추(허리뼈) 5, 천추(천골, 엉치뼈) 5, 미추(미골, 꼬리뼈) 4마디로 이루어져 있다. <br>
        몸을 푸는 순서는 위에서 아래로 내려간다. 목(경추)을 풀고, 어깨(견갑골)를 풀고, 가슴(흉추)을 풀고, 허리(요추)를 풀고, 무릎을 푼다.<br>
        본행공은 예비행공이나 기초행공에 비해 몸을 많이 움직여야 하고 동작도 매우 격렬하여 선(先)호흡 후(後)동작이
        더욱 강조된다. 선호흡 후동작은 호흡으로 동작을 이끈다는 의미이다. 호흡, 즉 아랫배의 풀무질이 모든 동작의 방아쇠(출발점)가 되어서 몸통과 사지의 움직임을 이끌어 가는 것이다. 그렇게 함으로써 동중정(動中靜), 즉 몸은 움직이지만 탈기가 되어 그 기운이 고요해지는 경지에 들어갈 수 있다. 일단 기운이 고요해져야 그 기운을 다른 곳으로 보낼 수 있다.<br>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>목돌리기 </h3>
        목 행공은 척추의 가장 윗부분인 경추(목뼈) 7마디를 풀어주는 행공이다. 목은 머리와 몸통을 연결하는 통로이기에 목이 뻣뻣하다는 것은 객기가 쌓여있다는 좋지 않은 징후이다.<br><br>
        요점:
        목을 쭈욱 뽑은 상태에서 돌려야 한다.
        목을 쭈욱 늘릴 때 허리가 따라가지 않도록 한다.
        머리의 반대방향에 당김이 있어야 한다. 예컨대 머리가 뒤로 갈 때 아랫배가 당겨야 한다. <br>
        (1) 목 뒤로 넘기기: 미골에서 척추를 밀어 올려 경추 1번 부터 하나씩 차례로 뒤로 넘긴다. 입을 약간 벌리고  '지~'호흡으로 턱을 최대한 하늘로 밀어 올린다.  '천~'호흡으로 제자리에 돌아올 때는 반대로 경추 7번부터 움직여 1번이 맨 마지막에 제자리에 오도록 한다.<br>
        (2) 목 앞으로 뽑기: '지~'호흡에 단순히 고개를 숙이는 것이 아니라 자라가 목을 내밀듯이 쭉 뽑아낸다. 양손으로 깍지를 끼고 뒷머리를 잡아서 앞으로 당겨내면서 꾹 눌러 준다. 양 팔꿈치를 모아서 ‘해마'모양을 취한다.  '천~'호흡에 제자리로 돌아온다.  <br>
        (3) 목 좌(우)로 비틀기:  '지~'호흡에 목을 왼(오른)쪽으로 돌린 다음 왼손(오른)은 턱을 하늘로 밀어주고 오른(왼)손은 머리 뒤를 잡아 꽈배기처럼 비틀어 당겨준다. <br>
        (4) 목 따라 몸 돌리기: 왼(오른)쪽으로 목을 계속 돌린다. 목이 최대한 돌아간 후 반대편 옆구리가 당겨진 상태에서 목을 따라서 몸통이 계속 끌려오도록 한다.  <br>
        (5) 목 돌리기: 이상의 예비동작으로 경추를 푼 다음 목을 탈기한 상태에서 단전의 힘을 활용하여 가볍고 크게 목을 돌린다. 호흡은 앞으로 돌릴 때 내쉬고 뒤로 돌릴 때 마신다.<br><br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/neck_opt.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>목 낚아채기</h3>
        목 낚아채기  이 행공은 목과 함께 신장을 강화하는 행공이다. 신장(콩팥)은 다른 장기와 달리 선천의 기운으로 움직인다. 신장기운은 태어나면서 부터 정해져 있고 신장의 사구체는 한번 망가지면 복원되지 않는다. 육체가 마지막에 스러지는 이유도 결국 혈액 속의 독소와 불순물을 걸러내는 기능이 떨어지기 때문이란 점을 감안하면 신장은 참으로 중요한 장기이다.<br>
 ‘지~’호흡에 허리를 앞쪽 45도 방향으로 내밀면서 머리를 뒤쪽 대각선 방향으로 툭 던진다. '천~'호흡에 허리와 머리를 제자리에 갖다 놓고, 다시 '지~'호흡에 반대편 45도 방향으로 허리를 내밀면서 머리를 뒤쪽 대각선 방향으로 툭 던진다.  <br><r>
        요점: 1. 머리만 뒤로 젖히는 게 아니라 허리를 먼저 앞으로 내밀면서 찰나적으로 머리를 뒤로 멀리 툭 던진다. <br> 2. 머리를 뒤로 젖힐 때 툭 던져지는 무게가 젖혀진 옆구리에(신장부위) 느껴지도록 한다.<br><br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/moknak_opt.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>팔 행공</h3>
        두 발을 편안하게 벌려서 양 팔꿈치가 귀 위에 위치하도록 팔을 위로 올린다. 단전의 힘을 사용하여 팔꿈치와 어깨를 가볍게 앞뒤로 흔들어 준다. <br><br>
  (1) 손목과 손가락은 물론 팔 전체에 힘이 들어가지 않도록 한다.<br>
 (2) 마치 수양버들이 흔들리듯 부드럽게 팔을 흔들어 준다.<br>
        (3) 팔을 앞뒤로 흔들 때도 ‘천~’과‘지~’호흡에 맞춘다. <br><br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/palhun_opt.jpg" alt="" class="img-fluid d-block" style="height:300px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
          <h3>어깨 돌리기 </h3>
          어깨 행공은 견갑을 푸는 동작이다. 두 팔이 심어져 있는 넓적한 삼각형 모양을 하고 있는 견갑과 그 주변의 뼈를 부드럽게 풀어준다. 50견 예방에도 도움이 된다.<br>
 (1)어깨 따로 돌리기: 두발을 적당히 벌려 서서 허리를 앞쪽으로 밀어 넣고 가슴을 편다. 상체를 탈기한 상태에서 왼 어깨와 오른 어깨를 번갈아 가면서 크게 원을 그린다. 이때 어깨는 최대한 귀 가까이 올라오도록 한다. 뒤쪽에서 앞쪽으로 돌린 다음 앞쪽에서 뒤쪽으로 돌린다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/uhggai_opt.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
          <h3>흉추 행공 </h3>
          흉추 행공은 흉추 12마디를 하나하나 풀어내는 동작이다. 경추(7마디) 보다 마디가 많고 길이 또한 길어서 동작의 종류가 많고 시간도 오래 걸린다.<br><br>
            (1) 곤봉 돌리기  <br>
            손가락을 가볍게 쥐고 양팔을 어깨 높이에서 수평으로 편다. '지~'호흡에 양팔을 내려 몸통 앞에서 교차시켜 돌려주며, '천~'호흡에 오른팔은 오른 어깨 뒤로, 왼팔은 왼 어깨 뒤로 툭 던져주었다가 그 반동으로 다시 팔을 옆으로 편다. 이 동작을 되풀이 하여 흉추를 푼다.  <br><br>
 (2) 옆으로 돌려 던지기  <br> '천~' 호흡에 두 손으로 머리를 가볍게 감싸며 뒷사람이 보일 정도로 몸통(흉추)을 뒤로 돌려준다. '지~'호흡에 빠르게 몸통을 앞으로 돌려 던진다. 뒷머리를 감싼 두 손은 돌아오는 탄력에 의해 자연스럽게 풀리도록 한다. 좌측으로 던지기가 끝나면 오른쪽으로 던진다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/gonbong3_opt.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br>
            (3) 대각선 던지기   <br>
            '천~' 호흡에 양팔을 몸통 앞에서 반시계 방향으로 두 번 돌린 다음, '지~'호흡에 왼손을 왼쪽 옆구리 뒤에 대는 동시에 오른팔이 몸통을 끌도록 하여 45도 뒤쪽 대각선 방향으로 멀리 던져준다. 다음에는 방향을 바꿔서 오른쪽 뒤로 던져준다. <br><br>

            (4) 팔 뒤로 던지기   <br>
 '천~'호흡에 양팔을 앞쪽으로 펴서 어깨 높이까지 올린다. '지~'호흡에 몸통을 뒤로 빠르게 돌리며 양팔을 편 채로 수평으로 왼쪽 뒤로 던진다.  '천~'호흡에 몸통과 팔이 앞으로 돌아오고 '지~'호흡에 양팔을 내린다. 다음에는 방향을 바꿔서 오른쪽 뒤로 던진다.  <br><br>

            (5) 가슴 펴기 <br> '천~'호흡에 왼발을 한걸음 앞으로 내딛고 양팔을 앞쪽으로 어깨높이만큼 올린 다음, '지~'호흡에 허리를 밀어 넣으며 가슴을 쫘악 폄과 동시에 양팔은 가슴이 더욱 더 펴질 수 있도록 빠른 속도로 뒤로 던진다. '천~'호흡으로 돌아온다. 그런 다음 순서를 바꿔 오른 발을 내디디며 가슴을 편다.  <br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/cross.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
          <h3>허리 돌리기</h3>
          척추 33마디 가운데 유일하게 힘을 쓸 수 있는 뼈가 요추이다. 요추 5마디는 우리 몸의 건강과 삶의 질을 좌우하는 뼈 중의 뼈, 즉 왕뼈이다. 무거운 물건을 들거나 짐을 질 때 하중이 걸리는 곳이 허리이며, 걸음을 걷거나 달릴 때, 각종 운동을 할 때 핵심적인 역할을 하는 뼈가 요추이다. 요추가 잘 풀려 유연해지면 몸이 날아갈 듯 가벼워지고 삶의 질이 달라진다.<br><br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/huridol2_opt.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>무릎 행공</h3>
          나이가 들어 몸이 노화되면 통증이 가장 먼저 찾아오는 곳이 무릎이다. 젊을 때부터 무릎 행공을 열심히 하면 이런 고통에서 벗어날 수 있다. 무릎 행공은 허벅지(대퇴부) 근육을 강화하여 무릎에 걸리는 부하를 줄여주는 행공이다. 스피드스케이팅 선수들이 폭발적인 힘과 추진력을 내는 것은 무릎이 아니라 잘 발달된 허벅지이다.<br><br>
 (1) 무릎 굽히기.   <br>
          준비자세 때 두 무릎과 복숭뼈를 서로 붙인 다음 상체를 숙여 양손을 무릎 위에 가볍게 얹는다. '지~'호흡에 단전의 기운을 무릎으로 내려 보내 허벅지 뒷부분과 종아리가 만날 때까지 무릎을 앞으로 밀어준다. 무릎이 앞으로 밀려가는 기운에 맞추어 발가락도 젖혀지게 하며, 무릎이 앞으로 밀려 완전히 굽혀졌을 때 발가락도 최대한 젖혀지게 한다. <br><br>
          (2) 무릎 돌리기    <br>
 준비자세는 무릎 굽히기와 같다. '지~' 호흡 한번에 무릎을 약간 구부려 시계방향으로 한 바퀴 돌리고, 연이은 '지~'호흡에 한 바퀴 더 돌린다. '천~' 호흡에 무릎을 펴며 손으로 무릎이 쫘악 펴지도록 눌러준다. 연이은 '천~'호흡에 한번 더 무릎을 눌러준다. 그런 다음 회전방향을 바꾼다. <br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/kneel1_opt.jpg" alt="" class="img-fluid d-block" style="height:300px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>허리 굽히기</h3>
        허리 굽히기는 온몸의 관절 하나하나를 풀어낸 후에야 피울 수 있는 천지행공의 꽃이다. 허리 굽히기는 몸이 변화하는데 따라 그 깊이가 마르지 않는 샘물과 같고, 수련이 깊어지면 또 다른 나를 들여다 보게 되는 묘미가 있다.<br>
        허리 굽히기의 핵심은 몸의 중추인 척추를 펴는 행공이다. 척추를 펴기 위해서는 먼저 오금이 펴져야 한다. 이처럼 허리 굽히기에는 신체의 각 부위가 상호 작용을 하는 것이 많아 동작도 12개나 된다. <br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/waste.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center">
          <br><br>
        <h3>사피술(蛇皮術)</h3>
        뱀이 껍질을 벗고 앞으로 나아가는 모습의 사피술도 몸을 풀고 난 후에 하는 난이도가 있는 행공이다. 상체가 앞으로 나아가는 기운에 의해 양 다리는 뻗은 자세 그대로 옆으로 벌려지다가 상체가 쭉 앞으로 나아감에 따라 다리는 180도 뒤로 회전하며 밀려 나게 된다.<br><br>
        </div>
        <div class="col-md-6 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/snake.jpg" alt="" class="img-fluid d-block" style="height:200px">
         </div>
        </div>
      </div>
  </div>
  </section>

  <section id="mamu">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <hr>
          <h1>마무리 행공 </h1><br>
          <p>
            마무리 행공은 행공으로 인해 온 몸을 흐르고 있는 기운을 정리정돈하여 단전에 갈무리하는 행공이다.<br>
            두 손을 단전에 모우고 발뒤꿈치 붙여서 바르게 선다. ‘천~’호흡에 두 손을 가슴으로 끌어 올린 다음 양 옆으로 팔을 쫘악 펴 준다. 이때 단전에서부터 끌어올린 기운을 척추를 중심으로 몸 뒤 어깻죽지를 타고 양쪽 손바닥(노공혈)으로 펼쳐내며, 호흡은 노공혈을 통해 단전에 이르게 한다. ‘지~’호흡에 상체와 팔을 탈기시켜 바닥으로 내려 놓는다.<br>
            다시 ‘천~’ 호흡으로 탈기된 상체를 일으켜 세운다. 이때에는 발바닥의 용천혈에부터 기운을 끌어올리며 상체를 호흡으로, 즉 배가 등을 밀어 바로 세운 다음에 처음처럼 팔과 손으로 기운을 가슴까지 끌어올려 다시 양옆으로 팔을 쫘악 펴준 상체를 바닥에 2회 내려주고 3번째 ‘지~’호흡에서는 양손과 함께 기운을 단전으로 모아준다.<br>
          </p>
  </div>
  </div>
  </div>
  </section>
{% endblock %}
