{% extends "base.html" %}
{% block title %}About Page{% endblock%}
{% block content %}

  <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
            <!-- <h1>천지행공 소개</h1>
            <p>살아오면서 가장 좋았던 시절은 언제인가. 20대가 인생의 전성기다. 온몸에 활력이 넘친다. 무엇을 해도 의욕적이고 지칠 줄 모른다. 어린이의 몸은 20대보다 더 이상적이다. 지금 몸을 그 때와 비교하면 어떤가. 그 시절로 돌아갈 수 있는 방법은 없는 것일까.
            신선들의 수련법으로 산중에서 전래되어 온 것이 혈기행공이다. 혈기행공은 과거로 거슬러 올라가는[逆] 공부다. 다시 시작하는[易] 공부다. 신선들은 결코 미래로 나아가지 않았다. 과거로 돌아가기 위해 피와 땀을 쏟는 수련을 했다. 몸이 젊어지니 신선들의 생각과 행동은 어린애 같다.
            </p> -->
          </div>
        </div>
      </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br>
          <h1>몸의 줄기 척추를 튼튼하게</h1><br>
          <p>산과 언덕은 기운이 다르다. 산은 줄기와 맥(脈)을 지니고 있지만 언덕엔 줄기와 맥의 기운이 없다. 인간의 몸은 언덕이 아니라 산이다. 척추라는 줄기를 지니고 있다. 인간의 모든 것은 척추를 둘러싸기 위한 전주곡일 뿐이다. 태아가 어머니 뱃속에서 자랄 때 가장 먼저 형성되는 것이 척추 속에 들어 있는 척수이다. 혈기행공의 꽃은 몸의 줄기인 척추를 튼튼하게 하는 것이다.
          하지(下肢, 다리)가 존재하는 것도 척추를 받치기 위한 것이다. 혈기행공을 할 때 척추를 받치는 기둥이자 주춧돌인 다리가 구부러지면 안 된다. 건축물의 기둥이 구부러지면 언젠가 무너지듯이 나이가 들어 무릎이 무너지면 대퇴와 골반이 다 내려앉아 걷기가 힘들어진다. 다리의 기운을 길러야 척추를 튼튼하게 만들 수 있다.
          앞으로 척추병 환자가 크게 늘어날 것이다. 지금은 내과병원 간판이 가장 많이 눈에 띄지만 앞으로는 척추병원 간판이 가장 흔해질 것이다. 젊은이들의 척추가 안 좋다. 척추에 무리가 가는 생활을 하는 데다 척추 건강을 돌보지 않는다. 몸무게가 늘어도 척추에 부담이 간다. 척추가 약한데 시도 때도 없이 방사(房事)를 즐기면 허리가 상하게 된다.</p>
        </div>
        <div class="col-md-3">
          <img src="/static/img/heri2.jpg" alt="" class="about-img img-fluid rounded-circle d-none d-md-block" style="height:500px;" align="right">
        </div>
      </div>
    </div>
  </section>

  <section id="icon-boxes" class="p-1">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="bg-warning text-left text-white">
            <div class="card-body">
                <h3>예비행공</h3><br>
                <p>예비행공은 반가부좌 자세에서 단전호흡을 하면서 오장육부에 기를 불어넣는 행공이다. 처음에는 발이 저리기도 한다. 일상생활에서 자주 취하는 동작이 아니기에 불편하기도 하고 왜 이렇게 해야 하는지 의문이 생기기도 한다. 그러나 대퇴부 위에 벽돌처럼 차곡차곡 쌓여있는 척추, 그리고 척추와 연결되어 있는 오장육부에 올바로 기운을 주기 위해서는 대퇴부를 반듯하게 고정시켜야 하고 이를 위해 반가부좌를 트는 것이다.</p>
                <a href="#yebi" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-success text-left text-white">
            <div class="card-body">
                <h3>기초행공</h3><br>
                <p>혈기행공에서 '3돌기'라고 표현하는 부분이 있다. 목, 허리, 발목이 바로 '3돌기'로서, 이 3곳이 잘 돌아가야 건강하다고 할 정도로 아주 중요하다.<br>발목은 평생 몸무게를 지탱하는 힘든 일을 한다. 비뚤어진 자세와 병의 근원은 발에서 비롯된다고 해도 과언이 아니다.</p>
                <a href="#gicho" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-danger text-left text-white">
            <div class="card-body">
                <h3>본행공</h3><br>
                <p>본행공은 척추 33마디를 풀어주고 제자리를 잡아주는 행공이다. 척추 33마디는 경추(목뼈) 7, 흉추(가슴뼈) 12, 요추(허리뼈) 5, 천추(천골, 엉치뼈) 5, 미추(미골, 꼬리뼈) 4마디로 이루어져 있다. 몸을 푸는 순서는 위에서 아래로 내려간다. 목(경추)을 풀고, 어깨(견갑골)를 풀고, 가슴(흉추)을 풀고, 허리(요추)를 풀고, 무릎을 푼다.</p>
                <a href="#bon" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="bg-secondary text-left text-white">
            <div class="card-body">
                <h3>마무리행공</h3><br>
                <p>마무리 행공은 행공으로 인해 온 몸을 흐르고 있는 기운을 정리정돈하여 단전에 갈무리하는 행공이다.</p>
                <a href="#mamu" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-primary text-left text-white">
            <div class="card-body">
                <h3>나는 누구인가</h3><br>
                <p>나는 원래 하나의 기운이었다. 그것이 상(像)으로 표현된 것이 나다. 나의 상은 몸이다. 몸은 대우주의 섭리를 알고 있다. 머리는 모른다. 몸은 미치도록 행공해야 본성을 드러낸다. 나의 주인은 몸이다. 마음이 아니다.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-primary text-left text-white">
            <div class="card-body">
                <h3>나를 찾는 호흡, 혈기행공</h3><br>
                <p>잃어버린 나의 능력을 되찾으려면 어떻게 해야 하나. 대우주의 에너지로 나를 되찾을 수 있다. 천기를 받아들이는 것이 호흡이고 혈기행공이다. 그러므로 혈기행공을 하면 대우주의 에너지가 내 몸 속으로 들어와서 뼛속에 쌓이게 된다. 원래 몸 상태로 되돌아가 대우주의 에너지와 내가 합일(合一)이 될 때 비로소 나를 찾게 된다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="yebi">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>
          <h1>예비 행공</h1>
          <img src="/static/img/yebi.jpg" class="pull-left mx-3" style="width:200px">
          <p>
    예비행공은 반가부좌 자세에서 단전호흡을 하면서 오장육부에 기를 불어넣는 행공이다. 처음에는 발이 저리기도 한다. 일상생활에서 자주 취하는 동작이 아니기에 불편하기도 하고 왜 이렇게 해야 하는지 의문이 생기기도 한다.<br>
    그러나 대퇴부 위에 벽돌처럼 차곡차곡 쌓여있는 척추, 그리고 척추와 연결되어 있는 오장육부에 올바로 기운을 주기 위해서는 대퇴부를 반듯하게 고정시켜야 하고 이를 위해 반가부좌를 트는 것이다.<br>
    예비행공은 앉는 자세가 가장 중요하다. 수도관이 구부러져 있으면 물이 잘 흘러가지 못하듯이 행공에서도 자세가 바르지 않으면 기운을 제대로 보낼 수 없다.<br>
    반가부좌를 할 때 남성은 왼발(음)이 아래, 오른발(양)이 위, 여성은 오른발(음)이 아래, 왼발(양)이 위에 오도록 한다. 손을 놓는 위치는 남성은 왼손(음)이 아래 오른손(양)이 위, 여성은 오른손(음)이 아래, 왼손(양)이 위로 가도록 한다. 음이 양을 감싸고 있는 우주의 근본 섭리에 따르는 자세이다.<br>
    그렇게 한 다음 회음(남성을 예로 들면 낭심과 항문 사이)이 바닥에 닿고, 정수리에 있는 백회와 수직을 이루도록 한다. 이런 자세를 취하려면 허리(요추)가 뒤로 물러나지 않고 앞으로 쑥 밀고 들어가야 하는데, 처음에는 쉽지 않다. 일상생활에 부대끼면서 몸이 비뚤어져 있기 때문이다.<br>
    그러나 이 자세는 건강한 몸으로 돌아가는 출발점이며 행공을 열심히 하여 뭉친 요추가 풀리면 자연스럽게 이 자세를 취할 수 있게 된다. 요추가 풀려서 상체를 제대로 받치고, 움츠렸던 가슴이 열리면 새로운 경지를 체험하게 된다.<br><br>
    토호흡은 예비행공 전과 후에 하는데, 각각 차이가 있다.<br><br>
    <img src="/static/img/toho.jpg" class="pull-right m-3" style="width:200px">
     ◇ 예비행공 전 토호흡: 일상생활을 하면서 쌓였던 객기와 탁기 등 모든 것을 비우는 호흡이다. 입을 약간 벌려 길게 그리고 한 점도 남김없이 뱉어낸다. 회수는 3번.<br>
    ◇ 예비행공 후 토호흡: 예비행공을 하는 동안 오장육부 구석구석으로 운기된 기운을 다시 조용히 가라앉히고 단전으로 모아 갈무리하는 호흡이다. 입은 다물고 코로만 호흡하며 회수는 2번.  <br>
    예비행공 전후에 하는 토호흡은 외형상으로는 입을 열고, 닫고의 차이만 있지만 그 속에 담긴 의미는 이처럼 다르다.  토호흡을 하는 구체적인 방법은 다음과 같다.  '지~' 호흡에 맞춰 상체를 앞으로 굽히는데 마치 다 타버린 재가 제 무게를 견디지 못해 스르르 내려 앉는 것처럼 상체를 내려놓는다. 이렇게 상체를 내려놓기 위해서는 아랫배가 등에 붙을 정도로 아주 천천히, 그리고 깊숙하고도 깊게 숨을 내 쉬어야 한다. 팔은 상체가 무너짐에 따라 자연스럽게 앞으로 밀려나가도록 한다.   이때 주의할 점은 상체를 바닥에 가깝게 붙이기 위해 엉덩이를 들리지 않도록 한다. 엉덩이가 들리면 수련에 도움이 되지 않는다. 상체가 많이 내려가지 않는다고 해서 조급해 할 필요가 없다. 중요한 것은 아랫배가 등에 붙을 정도로 깊이깊이 호흡하는 것이다. 호흡이 깊어지면 몸 구석구석에 기가 스며들고 그 때가 되면 재가 내려 앉듯이 상체가 편안하게 바닥에 붙게 된다. <br>
     '천~' 호흡에 상체를 일으킨다. 이때 허리나 상체 힘으로 일어나는 것이 아니다. 호흡을 마시면 아랫배가 부풀어 오르는데 이 힘으로, 즉 배가 등을 밀어 올려 상체를 바로 세운다. 상체에는 힘을 빼고(탈기) 호흡으로 배가 등을 미는 것이 쉬운 동작은 아니지만 이 개념을 잊지 않고 꾸준히 실천하면 반드시 기쁜 날이 찾아 온다.<br>
    토호흡은 깊은 호흡을 통해 몸과 마음을 내려놓는 행공이므로 일상생활에서도 활용할 수 있다. 몸이 힘들거나, 화가 치밀거나, 기운이 상기되어 마음이 편치 않을 때 토호흡을 3번 하면 몸도 편안해지고 마음도 차분히 가라앉는다.<br><br>

    예비행공은 단전의 기운을 끌어올려 손가락 끝으로 보내면서 상체를 쫘악 펴서 오장육부를 운기시키는 행공으로서 크게 4가지 묶음으로 나눌 수 있다. 첫 단계가 1~4번이다.<br><br>

    1번은 단전의 기운을 손끝으로 보내는 행공이다. 단전의 힘으로 척추를 미골에서부터 위쪽으로 밀어 올리면서 손도 함께 따라 올라가는데, 단전의 기운과 함께 손이 가슴까지 왔을 때 그 기운을 손가락 끝으로 몰아 가면서 두 손을 어깨높이에서 양 옆으로 활짝 펼친다. 단전의 기운이 손가락 끝으로 막다른 골목처럼 몰려가므로 손가락도 팽팽하게 펴져야 한다. 마치 풍선이 팽창하듯이 기운이 몰려와 손가락을 쫘악 펴게 되니 척추 팔꿈치 등 상체의 어떤 부위도 접히거나 굽은 곳이 없어야 한다. ‘지~’ 호흡 때는 손가락에 몰려있는 기운을 다시 단전으로 회수한다.<br><br>

    2번 행공의 방법은 1번과 같다. 1번 행공은 팔을 펼치는 방향이 어깨와 수평이지만 2번 행공은 팔의 방향이 어깨와 머리의 가운데, 즉 45도 방향이다.<br><br>

    3번은 ‘천~’ 호흡에 양팔을 어깨와 수평으로 펼치는 것까지는 1번과 같다. ‘지~’호흡에 고개를 돌려서 시선을 왼손가락 끝에 두고 허리를 왼쪽으로 최대한 돌려준다. 이때 팔은 어깨와 수평을 유지한다. 수련이 깊어지면 허리를 의식하지 않아도 손끝에 머물고 있는 단전의 기운으로 허리를 이끌 수 있다. 호흡이 동반되지 않고 힘과 욕심이 들어가면 허리는 돌아가지 않고 어깨 또는 팔만 돌아가게 되므로 유의해야 한다. ‘천~’호흡에 비튼 허리를 제자리에 갖다 놓고,  ‘지~’ 호흡에 팔을 내려 놓는다.<br><br>

    4번은 3번과 같으나 시선과 허리가 돌아가는 방향이 오른쪽인 점이 다르다.<br><br>

    4가지의 예비행공 묶음 중 2번째 단계가 5~7번이다.   '천~' 호흡에 단전의 기운을 손의 움직임과 함께 천천히 위로 끌어 올려서 허파를 감싼 다음 아래로 끌어내려, 갈비뼈가 끝나는 양 옆구리 뒷부분에서 손을 말아서 앞쪽(5번), 옆쪽(6번), 위쪽(7번)으로 기운을 힘차게 밀어 낸다.<br>
    특히 손을 내밀 때는 단순히 팔을 들고 있는 것이 아니라, 단전의 기운이 손바닥에 몰리는 것이기에, 그 기운으로 계속 밀고 있어야 한다. 비유하자면 손을 앞으로 미는 것은 비탈길에서 굴러 내려오고 있는 큰 바위를 받치고 있는 것과 같고, 옆으로 미는 것은 양쪽에서 닫히려고 하는 육중한 문을 미는 것과 같고, 위로 미는 것은 무거운 물건을 떠 받치는 것처럼 양손에 기운을 계속 주어야 한다. 단전의 기운은 곧바로 손으로 전달되어야 하므로 척추, 팔 등 상체를 쫘악 편다. 굽은 곳이 없도록 한다.<br>
    '지~'호흡에는 손에 몰려 있던 기운을 호흡에 맞춰 천천히 단전으로 회수한다. 손과 팔도 기운을 풀고 처음 자세로 돌아온다.<br>
      영화든 소설이든, 음악이든 스토리가 있는 모든 것엔 클라이막스가 있다. 예비행공의 클라이막스는 8번이다.<br><br>

    8번은 9번과 함께 '천~''지~' '천~''지~' 두 호흡으로 특히 깊이 이루어진다. 운기하는 동작이 깊은 두 호흡으로 이루어진다는 것은 행공의 밀도가 다르다는 것을 의미한다.<br>
    8번이 클라이막스인 이유는 모든 예비행공 중 척추가 최대한으로 펴지는 행공이기 때문이다. 척추에 연결된 오장육부 역시 최대한으로 펼쳐져 기운이 가득 차게 된다.  8번 행공을 제대로 하면 온 몸이 따뜻해지고 이마에는 땀이 맺히며 혀 밑에는 단침이 고이게 된다.<br>
    8번은 '천~' 호흡에 양손(손바닥은 아래로)과 팔을 어깨와 수평이 될 때까지 양 옆으로 밀어 올린다. 팔을 그냥 드는 게 아니라 단전의 기운으로 밀어 올리는 것이다. 손과 팔이 어깨 높이로 밀려 올라가면 손바닥이 하늘을 향하게 뒤집는다. 이때부터는 호흡에 맞쳐 손가락 끝이 팔을 끌고 올라간다. 이와 리듬을 맞추어 척추도 미골에서부터 백회 방향으로 쭈우욱 계속 밀어 준다.<br>
    백회 위에서 양손이 만날 때까지가 '천~'호흡이며, 그 다음 ‘지~'호흡에 서로 만난 양손을 포개어 천천히 내려서 백회를 가볍게 덮어준다. 마음은 손끝에 집중하며 최대한 받아들인 대우주의 에너지가 흩어가지 못하게 백회를 덮어주는 것이다.<br>
    다시 '천~' 호흡에 백회를 덮었던 양손을 위로 올렸다가 서서히 내려온다. 양옆 어깨높이까지 왔을 때 '지~'호흡과 함께 기운을 단전에 갈무리한다.   9번은 '천~'호흡에 양손과 팔을 어깨높이까지 밀어 올리는 것까지는 8번과 같다. 그 다음 마치 우주를 품 안에 감싸듯, 양 손끝으로 팔을 최대한 크게 이끌어 가슴 앞으로 기운을 모으면서 양손이 만나게 한다.<br>
    '지~' 호흡에 천천히 깊이 숨을 내쉬면서 양손과 팔 그리고 가슴 사이에 모인 기운을 단전으로 갈무리한다.<br>
    다시 '천~'호흡에 척추가 미골에서 백회 방향으로 쭈욱 밀려 올라가도록 하고, 가슴이 펼쳐지는 동시에 이 기운으로 양팔이 자연스레 크게 옆으로 벌어지게 한다.<br>
    양옆으로 벌어진 팔은 '지~'호흡에 단전으로 기운을 모으면서 처음 위치로 돌아온다.<br><br>

    10번은 '천~' 호흡으로 단전의 기운을 미골(꼬리뼈)에서부터 척추를 통과하여 백회(정수리)까지 일직선으로 쭈욱 밀어올린다. 손과 팔은 단전의 기운이 막힘 없이 수직으로 올라가도록 호흡 및 기운의 움직임에 맞춰서 위로 쭈욱 뻗어 올린다.
    2번 행공과 비슷하지만 손과 팔을 펴는 방향이 다르다. 2번 행공에서는 손과 팔을 어깨와 머리 사이, 즉 45° 방향으로 뻗지만 10번 행공에선 두 손을 일직선으로 하늘을 향해 활짝 펼친다.<br><br>

     11, 12번은 예비행공 마지막 동작으로 임독맥을 연결하는 행공이다. 임맥은 회음에서부터 몸통 앞 중앙선을 아래 입술까지 흐른다. 독맥은 회음에서 장강 그리고 몸통 뒤 중앙선을 타고 올라가 백회를 지나 윗입술까지 흐른다. 임독맥을 통해 기운을 한 바퀴 순환시키는 것이 소주천이다 11번은 '천~'호흡에 손바닥을 마주하며 회음에서 부터 기운을 모아 명치 부근에서 기운을 갈무리 한 다음 호흡과 같이 차츰 밀어 올려 아랫입술, 윗입술을 지나 백회까지 연결하며 마주한 손을 백회 위로 밀어 올린다.<br>
    '지~'호흡 땐 백회에 있던 기운이 몸통 뒤 중앙선을 타고 내려와 회음에 이르도록 한다.  백회 위에 모아두었던 양손은 옆으로 펼쳐 호흡에 맞춰서 내려온다.<br>
    12번의 운기는 11번과 반대방향이다. '천~'호흡에 몸통 뒤 중앙선 독맥을 따라 백회로 기운을 끌고 간다. '지~'호흡에 기운이 몸통 앞부분 임맥을 따라 회음으로 돌아오게 한다.<br>
     11,12번 행공에서 특히 호흡과 더불어 마음이 몸통 중앙선, 즉 임맥과 독맥을 따라 기운과 함께 움직이도록 해야 한다.<br>
    수련을 열심히 하면 새로운 기운이 찾아온다.<br>

        </p>
        </div>
      </div>
    </div>
  </section>

  <section id="gicho">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <hr>
          <h1>기초 행공</h1>
          <p>
      혈기행공에서 '3돌기'라고 표현하는 부분이 있다. 목, 허리, 발목이 바로 '3돌기'로서, 이 3곳이 잘 돌아가야 건강하다고 할 정도로 아주 중요하다.<br>
      발목은 평생 몸무게를 지탱하는 힘든 일을 한다. 비뚤어진 자세와 병의 근원은 발에서 비롯된다고 해도 과언이 아니다.<br>
      발목 돌리기는 오른쪽 다리를 쭉 펴고 왼 다리의 무릎을 접어 오른 다리 위에 올려 놓는다. 그 다음 왼손 엄지 손가락으로 왼발 복숭뼈 바로 밑의 조해혈을 힘껏 눌러주고, 집게 손가락으로는 반대편 다리와 발의 관절이 연결되는 부분을 잡는다. 오른손으로 왼발의 발가락 부분을 가볍게 감싸 쥐고 발목을 크고 부드럽게 돌린다. 이때 발목에 힘이 들어가지 않도록 탈기한다.<br>
      발목을 돌린 후 발목 비틀기를 한다. 손가락으로 깍지를 끼어 발을 잡되 발바닥은 하늘을 향하게 한다.  '지~'호흡에 왼팔꿈치가 접혀진 왼발 앞쪽으로 빠지면서 손의 힘이 아니라 몸이 숙여지는 힘으로 발목을 비틀어 준다.<br>
      '천~'호흡에 일어나며, 다시 '지~'호흡에는 발바닥이 땅을 향하도록 엄지발가락을 밀며 몸이 뒤로 쓰러지는 힘으로 발목을 비틀어준다.<br>
      발목 돌리기와 비틀기를 한 다음 한번 더 발목을 꺾어준다. 왼발목을 접어 오른 다리 위에 놓는다. '지~'호흡에 상체를 숙이면서 아랫배가 발목을 눌러준다. 이때 오른발은 반드시 수직으로 세워야 한다. 오른발이 넘어져 있으면 기운이 바깥으로 새어나가기 때문이다.<br>
      다음에는 오른쪽 다리의 무릎을 접어 쭉 편 왼 다리위로 올려 놓고 같은 방법으로 발목을 돌리고 비틀기를 한다.<br>
        <br>
      <h3>다리 펴고 상체 굽히기</h3> <br>

      다리를 뻗고 상체를 바닥에 닿게 하는 행공에는 두 다리를 모은 자세, 어깨넓이로 벌린 자세, 900로 벌린 자세 등 3가지가 있다. 이 3가지는 골반이 벌어지는 각도가 다르기 때문에 각각 의미가 있다. 유의해야 할 사항은 다음과 같다.<br> <br>

      (1) 무릎을 굽히지 마라 <br>
      다리를 쭈욱 펴고 상체를 반듯하게 세운다. 그런 다음 손을 오금 아래에 넣어 어느 정도 들어가는지 확인해 둔다. '지~'호흡에 상체를 숙여 내려 놓을 때, 처음 보다 무릎이 더 올라오면 안 된다. 상체를 많이 내려 보내기 위해 무릎이 올라오는 것은 의미가 없다. 단전의 기운을 하체, 특히 용천혈로 쫘악 보내서 무릎을 잡아두는 것이 중요하다. 상체는 깊은 호흡으로 탈기하며 내려 놓는다.<br><br>

      (2) 엉덩이를 들지 마라
      정면에 이어 좌우 다리 방향으로 상체를 돌려 내려 놓는 행공에서 상체를 다리에 좀더 가깝게 붙이기 위해 반대쪽 엉덩이를 드는 경우가 있는데, 이것은 잘못된 동작이다. 상체를 왼 다리 방향으로 내려 놓을 때 단전의 기운은 좌우 양다리로 함께 보내어 오금과 함께 엉덩이도 바닥에 반드시 잡아두어야 한다. <br><br>

      (3)상체를 탈기시키고 미골로 밀어라 <br>
      "정중동"  준비 자세인 무릎과 엉덩이를 꽉 잡아둔 다음 '지~'호흡에 상체를 최대한 탈기시킨다. 배가 등에 붙을 정도로 '지~'호흡을 깊이 하여 상체를 탈기시켜 내려놓는다. 다리는 당기고 힘들겠지만 상체는 편안히 내려 놓는다.
      상체가 탈기되어 이마 또는 아랫배가 바닥에 붙으면 그냥 그대로 있는 것이 아니라 미골에서 머리(백회혈)로 계속 기운을 밀고 있어야 한다. 이것이 바로 혈기행공의 핵심 요소인 "정중동(靜中動, 겉으로 보기에는 가만히 정지해 있어도 속에서는 끊임없이 기운을 밀어내는 상태)"이다. 이렇게 하면 상체가 아랫배부터 가슴까지 바닥에 완전히 붙게 된다.  <br><br>

      <h3>반 가위 벌리기 </h3>  <br>
       한쪽 다리를 앞(뒤)으로 접고 다른 쪽 다리를 쭉 편 상태에서 상체를 굽히는 행공은 반(半) 가위 벌리기라고 할 수 있다. 이 행공의 핵심은 뻗은 다리의 안쪽 선을 최대한 쫘악 펴는데 있다.  편 다리와 접은 다리는 최대한 일직선 상에 두도록 한다. 상체는 접은 다리 쪽을 향해 틀어준다.  준비 자세 후 '지~'호흡에 펴고 있는 다리 방향으로 상체를 호흡과 함께 천천히 내려 놓는다. '천~' 호흡에 상체를 일으킨 후 처음 자세로 돌아간다.  여기서 놓치지 말아야 할 것은 '호흡'이다. 동작이 어려우므로 아픔이 실려오고, 아픔이 오면 자신도 모르게 호흡을 멈출 수 있다. 그러나 행(동작)보다 중요한 것이 호흡이며, 행공 중 호흡을 정지해선 절대 안 된다. 마시지 않으면 내쉬고 있어야 하며, 특히 아픔을 만나면 '지~' 호흡으로 깊숙이 인사하는 습관을 익혀야 한다.<br>
      다리를 뒤로 접고 상체를 굽히는 자세는 앞으로 접을 때 보다 뻗은 다리의 안쪽 선이 더욱 당기게 되고, 아픔도 더 진해져서, 호흡에 좀더 파문이 일 수 있으므로 호흡을 멈추지 않도록 더욱 유의한다.<br><br>

      <h3> 다리 벌리기 </h3>  <br>
      다리옆  다리 벌리기는 가위 벌리기와 함께 대퇴부를 풀어주는 행공의 백미라고 할 수 있다. 그렇기 때문에 반 가위 벌리기 등 많은 예비동작 후 이 행공에 들어간다.  다리벌리기는 다리 안쪽 선을 최대한 팽팽하게 당겨서 펴는 것이다. 다리를 최대한 편 상태에서 탈기를 하고, 발을 수직으로 세워서 뒤꿈치가 바닥 위에서 가볍게 양 옆으로 밀려나가도록 한다.  다리 벌려 앉은 자세를 취한 뒤 허리를 앞으로 밀어 넣고 가슴을 편 다음, '지~'호흡에 상체를 충분히 탈기시켜 내려 놓는다. 중상급자는 아랫배부터 바닥에 닿도록 한다.<br>
       초급자는 다리를 벌려 바닥에 내려 앉는 자세부터 시작한다. 수련시간이 축적되면 누구나 할 수 있으므로 자신의 한계점까지 다리를 벌려보는 것이 중요하다. 초급자는 특히 상체를 앞으로 내려 놓을 때, 다리 안쪽 선에 아픔이 전기처럼 전해 오더라도 호흡을 멈추지 말고 끝까지 내쉬는데 초점을 둔다.  다리 벌리기의 아픔 뒤에는 대퇴부가 가벼워지는 상큼함이 반드시 따라오므로 믿음을 갖고 꾸준히 하도록 한다.<br>
      상체를 옆으로 내려놓는 행공은 우선 다리를 양 옆으로 최대한 벌린 상태에서 '지~'호흡에 상체를 크게 위로 뽑아 낸 다음 탈기하여 머리와 어깨를 왼발목과 장딴지 안쪽으로 내려가 바닥에 닿도록 하고, 오른팔은 위로 크게 원을 그리며 왼쪽 엄지발가락을 잡는다. 이때 오른쪽 옆구리와 옆가슴 그리고 겨드랑이는 활처럼 둥글게 휘어지고, 앞가슴과 얼굴은 하늘을 바라보게 최대한 꽈배기처럼 틀어준다. '천~'호흡에 상체를 풀어 일어난다.<br><br>


      <h3>가위 벌리기 </h3><br>
      다리 벌리기가 대퇴부를 탈기시켜 풀어주는 방향이 좌우라면, 가위 벌리기는 그 방향이 앞뒤이다.<br>
      한쪽 다리를 앞으로 쭉 뻗은 다음 양손으로 바닥을 짚어 체중을 받친다. 팔을 차츰 낮추면서 상체(회음)를 천천히 바닥에 내려 놓는다. 이때 앞으로 뻗은 다리를 굽히면 안 된다. 뻗은 다리를 앞으로 계속 쭉 밀면서 내려가야 하며, 반대편 다리는 뱀의 꼬리처럼 뒤따라 오도록 한다. 회음이 바닥에 닿은 후 상체를 반듯하게 세우고 양손은 가볍게 허벅지와 허리에 둔다.   '지~'호흡에 상체를 탈기시켜 내려 놓는데, 앞으로 뻗어있는 다리에 상체를 최대한 붙인다. ‘천~’호흡에 단전의 기운으로 상체를 일으킨다. 가위 벌리기는 오금이 펴지고 대퇴부가 어느 정도 풀려야 올바른 자세가 나오는 어려운 동작이다. 그러므로 꾸준히 수련하면 오금과 대퇴부가 풀리게 된다.<br><br>

      다리 날개 벌리기  사진 2매 > 다리날개펴기 1/2  팔이 되는 동작은 다리도 가능하다. 체조 선수나 발레리나는 다리를 팔처럼 자유자재로 움직인다.<br>
      다리로 날개를 벌릴 때는 무게중심이 양다리와 골반에 1/3씩 나누어 실리도록 한다.<br><br>

      (1단계) 앉은 자세에서 손바닥으로 발의 뒤꿈치를 감싸 쥐고, '천~'호흡에 다리를 날개 펼치듯 양 옆으로 쫘악 편다. 이때 무릎이 굽지 않도록 최대한 다리를 편다.<br><br>

      (2단계) 허리가 뒤로 빠지지 않도록 앞으로 밀어 넣어 상체가 똑바로 펴지도록 한다. 혈기행공에서 허리가 뒤로 물러서는 동작이 없듯이 이 행공의 핵심도 허리를 최대한 앞으로 밀어 넣는 것이다. 만일 무게 중심이 흐트러지더라도 뒤로 넘어지지 말고 앞으로 엎어지도록 한다.   (3단계) 다리로 양 날개를 펴고 허리를 밀어 넣어 상체를 바르게 세운 다음, 양손으로 펼친 다리를 쫘악 당겨서, 옆에서 보면 다리와 상체가 일직선 상에 놓이도록 한다. '지~'호흡에 두 손으로 잡고 있는 발을 상체 앞 바닥으로 가져와 붙인다.  발 모아 토호흡   사진 2매 > 발모아토호흡 1/2  대퇴부를 열고 풀어주는 이 행공은 두발을 최대한 몸 가까이 당겨 맞닿도록 하되 발바닥이 모여지도록 한다. 토호흡과 같은 방법으로 상체를 탈기하여 내려 놓는다.<br>
      토호흡은 다리가 가부좌 또는 반가부좌 자세이지만, 이 행공은 발이 서로 붙어 있으므로 상체를 내려 놓을 때 대퇴부에 직접 기운이 전달된다. 상체를 내려 놓을 때 대퇴부가 풀려있지 않으면 전달되는 기운의 반발력으로 무릎이 위로 향하고 상체 또한 잘 내려가지 않는다. 그렇더라도 힘을 써서 내려가려 하지 말고 조금이라도 더 깊은 호흡으로 대퇴부를 탈기시키고 풀어서 내려가도록 한다. 대퇴부가 많이 풀릴수록 상체와 양 다리(무릎)가 바닥에 차분히 가라앉아 달라붙는 느낌을 갖게 된다.<br>
      이 행공은 기초행공의 마지막 단계에 있는 것은 ‘다리 펴고 상체 굽히기’ ‘다리벌리기’, ‘가위 벌리기’ 등의 대퇴부 탈기를 정리하는 의미가 있다.<br><br>

          </p>
  </div>
  </div>
  </div>
  </section>

  <section id="bon">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <hr>
          <h1>본행공</h1>
          <p>
            본행공은 척추 33마디를 풀어주고 제자리를 잡아주는 행공이다. 척추 33마디는 경추(목뼈) 7, 흉추(가슴뼈) 12, 요추(허리뼈) 5, 천추(천골, 엉치뼈) 5, 미추(미골, 꼬리뼈) 4마디로 이루어져 있다. 몸을 푸는 순서는 위에서 아래로 내려간다. 목(경추)을 풀고, 어깨(견갑골)를 풀고, 가슴(흉추)을 풀고, 허리(요추)를 풀고, 무릎을 푼다.<br><br>

            본행공은 예비행공이나 기초행공에 비해 몸을 많이 움직여야 하고 동작도 매우 격렬하여 선(先)호흡 후(後)동작이 더욱 강조된다. 선호흡 후동작은 호흡으로 동작을 이끈다는 의미이다. 호흡, 즉 아랫배의 풀무질이 모든 동작의 방아쇠(출발점)가 되어서 몸통과 사지의 움직임을 이끌어 가는 것이다. 그렇게 함으로써 동중정(動中靜), 즉 몸은 움직이지만 탈기가 되어 그 기운이 고요해지는 경지에 들어갈 수 있다. 일단 기운이 고요해져야 그 기운을 다른 곳으로 보낼 수 있다.<br>
            탈기(脫氣)를 시키는 방법은 몸의 줄기와 언덕을 활용하면 된다. 몸 전체에 힘을 빼면 탈기가 아니라 기운이 탈진하는 실기(失氣)가 되기 쉽다. 몸의 줄기, 즉 몸의 각 부분을 연결하는 핵심이 되는 줄기(다리의 안쪽 힘줄, 척추 등)에만 약간의 기운을 유지하고 나머지 부분(언덕)의 기운을 빼면 쉽게 탈기할 수 있다. 몸의 줄기엔 기운이 남아 있어야 탈기를 하면서 객기를 뽑아낼 수 있다. 나뭇잎이 바람에 몸을 맡기지만 으스러지지 않고 본래 모습으로 되돌아갈 수 있는 것은 줄기가 있어 탈기하되 실기하지 않기 때문이다. 이렇게 탈기된 상태에서 동작을 크게 가져가면 관절과 힘줄을 엿가락처럼 쭉쭉 늘릴 수 있고, 몸을 새롭게 구조조정하여 기운을 신체 구석구석까지 순환시키는 길(道)을 닦을 수 있다.<br>
            '동작은 형식이고 내용은 호흡'이란 말은 '선호흡 후동작'의 중요성, 즉 혈기행공의 요체를 한마디로 압축한 것으로 행공의 처음부터 끝까지 지켜야 하는 으뜸가는 원칙이다.<br><br>

            <h3>목돌리기 </h3>
            <img src="/static/img/neck.jpg" class="pull-left m-3" style="width:200px">

            목 행공은 척추의 가장 윗부분인 경추(목뼈) 7마디를 풀어주는 행공이다. 목은 머리와 몸통을 연결하는 통로이기에 목이 뻣뻣하다는 것은 객기가 쌓여있다는 좋지 않은 징후이다.<br><br>

            요점:
            목을 쭈욱 뽑은 상태에서 돌려야 한다.
            목을 쭈욱 늘릴 때 허리가 따라가지 않도록 한다.
            머리의 반대방향에 당김이 있어야 한다. 예컨대 머리가 뒤로 갈 때 아랫배가 당겨야 한다.<br><br>

            (1) 목 뒤로 넘기기: 미골에서 척추를 밀어 올려 경추 1번 부터 하나씩 차례로 뒤로 넘긴다. 입을 약간 벌리고  '지~'호흡으로 턱을 최대한 하늘로 밀어 올린다.  '천~'호흡으로 제자리에 돌아올 때는 반대로 경추 7번부터 움직여 1번이 맨 마지막에 제자리에 오도록 한다.<br>
            (2) 목 앞으로 뽑기: '지~'호흡에 단순히 고개를 숙이는 것이 아니라 자라가 목을 내밀듯이 쭉 뽑아낸다. 양손으로 깍지를 끼고 뒷머리를 잡아서 앞으로 당겨내면서 꾹 눌러 준다. 양 팔꿈치를 모아서 ‘해마'모양을 취한다.  '천~'호흡에 제자리로 돌아온다.  <br>
            (3) 목 좌(우)로 비틀기:  '지~'호흡에 목을 왼(오른)쪽으로 돌린 다음 왼손(오른)은 턱을 하늘로 밀어주고 오른(왼)손은 머리 뒤를 잡아 꽈배기처럼 비틀어 당겨준다. <br>
            (4) 목 따라 몸 돌리기: 왼(오른)쪽으로 목을 계속 돌린다. 목이 최대한 돌아간 후 반대편 옆구리가 당겨진 상태에서 목을 따라서 몸통이 계속 끌려오도록 한다.  <br>
            (5) 목 돌리기: 이상의 예비동작으로 경추를 푼 다음 목을 탈기한 상태에서 단전의 힘을 활용하여 가볍고 크게 목을 돌린다. 호흡은 앞으로 돌릴 때 내쉬고 뒤로 돌릴 때 마신다.<br><br>

            <h3>목 좌우로 흔들기</h3><br>
             입을 자연스럽게 약간 벌린 상태에서 호흡을 크게 내쉬면서 목을 좌우로 번갈아 가면서 흔들어준다. <br><br>
              요점:
            가벼운 ‘도리도리’가 아니라 침이 튀어 나올 정도로 세차게 흔든다.
            목이 좌우로 튕기어 갈 수 있는데 까지, 끝까지 가서 되돌아 오도록 한다.<br>

             이 행공은 목과 더불어 턱에도 좋은 행공이다. 일상생활에서 턱은 말하거나 음식을 먹을 때 사용하며 주로 상하로만 움직인다. 그러나 ‘목 좌우로 흔들기’는 턱을 탈기시켜 평소 사용하지 않는 좌우 방향의 근육을 단련시켜 턱 건강을 유지하는 훌륭한 행공이다.<br><br>
             <h3>목 앞뒤로 던지기 </h3>  <br>
            머리를 앞뒤로 '툭툭' 던져서 목을 푸는 행공이다. '천~'호흡에 가슴을 펴고, ‘지~'호흡에 머리와 팔을 뒤로 던지고, '천~'호흡에 제자리로 돌아오고, 다시 ‘지~'호흡에 머리와 팔을 앞으로 크게 '툭' 던진다.<br><br>  
            요점:  1. 목에 힘이 들어가지 않도록 탈기해야 한다.  <br>
            2. 머리를 던지는 '지~‘ 호흡 때 매듭을 순간적으로 꽉 조이는 느낌으로 단전을 움직여 짧고 깊숙이 숨을 뱉어내야 한다. 평상시 '지~'호흡 때 미처 빠져 나오지 못했던 공기마저 이 행공의 '지~'호흡 때 매듭을 조이는 반발력으로 남김없이 토해낸다.<br><br>

            <h3>목 낚아채기 </h3>   <br>
            목 낚아채기   이 행공은 목과 함께 신장을 강화하는 행공이다. 신장(콩팥)은 다른 장기와 달리 선천의 기운으로 움직인다. 신장기운은 태어나면서 부터 정해져 있고 신장의 사구체는 한번 망가지면 복원되지 않는다. 육체가 마지막에 스러지는 이유도 결국 혈액 속의 독소와 불순물을 걸러내는 기능이 떨어지기 때문이란 점을 감안하면 신장은 참으로 중요한 장기이다.<br>
             ‘지~’호흡에 허리를 앞쪽 45도 방향으로 내밀면서 머리를 뒤쪽 대각선 방향으로 툭 던진다. '천~'호흡에 허리와 머리를 제자리에 갖다 놓고, 다시 '지~'호흡에 반대편 45도 방향으로 허리를 내밀면서 머리를 뒤쪽 대각선 방향으로 툭 던진다.   <br><br>
            요점:  1. 머리만 뒤로 젖히는 게 아니라 허리를 먼저 앞으로 내밀면서 찰나적으로 머리를 뒤로 멀리 툭 던진다. <br> 2. 머리를 뒤로 젖힐 때 툭 던져지는 무게가 젖혀진 옆구리에(신장부위) 느껴지도록 한다.
            <br><br>

            <h3>팔 행공</h3>    <br><br>

            (1)팔 흔들기:  두 발을 편안하게 벌려서 양 팔꿈치가 귀 위에 위치하도록 팔을 위로 올린다. 단전의 힘을 사용하여 팔꿈치와 어깨를 가볍게 앞뒤로 흔들어 준다. <br><br>
              요점: 1. 손목과 손가락은 물론 팔 전체에 힘이 들어가지 않도록 한다.<br>
             2. 마치 수양버들이 흔들리듯 부드럽게 팔을 흔들어 준다.<br>
            3. 팔을 앞뒤로 흔들 때도 ‘천~’과‘지~’호흡에 맞춘다.  <br>
            (2) 팔 뻗어 올리기:  팔 흔들기가 팔을 탈기시켜 비우는 행공이라면, 팔 뻗어 올리기는 탈기된 팔에 기운을 가득 실어 운기시키는 행공이다. 두 발의 뒤꿈치가 맞붙게 모으고 두 손은 양 어깨 뒤로 떨어뜨린다. '천~' 호흡에 발로 바닥을 박차는(뒤꿈치가 들어올려지며) 동시에 두 팔을 하늘로 힘차게 뻗는다. 허공을 두 쪽으로 가른다는 생각을 갖는다. 이때 손가락은 서로 붙이되 쫘악 펴야 한다. '지~'호흡에 손가락 기운을 풀며 두 팔은 다시 어깨 뒤로, 발 뒤꿈치는 바닥으로 돌아온다.<br><br>
             요점: 1. 팔의 기운으로만 하늘을 향해 내뻗는 것이 아니라 발로 바닥을 박차는 기운이 발바닥에서부터 밀려 올라와 온몸을 통과하여 팔에 모이고 손가락 끝에 맺혀 그 기운이 하늘을 향해 힘차게 뻗치도록 한다.  2. 기운은 발끝과 손끝에 둔다. 그렇게 함으로써 발에서 비롯된 기운을 손가락 끝이 끌고 올가가는 것을 느끼도록 한다.<br><br>

            <h3>어깨 돌리기 </h3><br>
             어깨 행공은 견갑을 푸는 동작이다. 두 팔이 심어져 있는 넓적한 삼각형 모양을 하고 있는 견갑과 그 주변의 뼈를 부드럽게 풀어준다. 50견 예방에도 도움이 된다.<br>
             (1)어깨 따로 돌리기: 두발을 적당히 벌려 서서 허리를 앞쪽으로 밀어 넣고 가슴을 편다. 상체를 탈기한 상태에서 왼 어깨와 오른 어깨를 번갈아 가면서 크게 원을 그린다. 이때 어깨는 최대한 귀 가까이 올라오도록 한다. 뒤쪽에서 앞쪽으로 돌린 다음 앞쪽에서 뒤쪽으로 돌린다.   요점: 1. 바로 선 자세에서 어깨만 최대한 크게 돌려야 한다. 가슴이나 옆구리에 힘이 들어가지 않도록 한다. 2. 팔꿈치가 구부러지기 쉬운데 이는 팔에 힘이 들어간 결과이다. 팔은 탈기되어 축 늘어뜨려야 한다.  (2)어깨 함께 돌리기: ‘어깨 따로 돌리기’와 같은 방법으로 양 어깨와 등 전체를 모아서 뒤에서 앞으로, 그리고 앞가슴과 어깨를 앞에서 뒤로 돌려준다. 호흡은 어깨 따로 돌리기보다 깊고 천천히 한다.  <br>
            모든 어깨 행공은 어깨에만 기운이 들어가야 한다는 점에 유념한다.<br>
             큰(횡경막) 호흡 '천~'호흡에 양 어깨가 귀 가까이 올라올 정도로 횡경막을 최대한 넓히며 단전으로 최대한 들이마신다.. '지~'호흡에는 상체를 탈기시키며 일순간에 내쉰다.<br><br>

            <h3>흉추 행공 </h3><br>
            흉추 행공은 흉추 12마디를 하나하나 풀어내는 동작이다. 경추(7마디) 보다 마디가 많고 길이 또한 길어서 동작의 종류가 많고 시간도 오래 걸린다.<br>

            (1) 곤봉 돌리기  <br>
            손가락을 가볍게 쥐고 양팔을 어깨 높이에서 수평으로 편다. '지~'호흡에 양팔을 내려 몸통 앞에서 교차시켜 돌려주며, '천~'호흡에 오른팔은 오른 어깨 뒤로, 왼팔은 왼 어깨 뒤로 툭 던져주었다가 그 반동으로 다시 팔을 옆으로 편다. 이 동작을 되풀이 하여 흉추를 푼다.   요점: 1. 팔의 힘으로 돌리는 것이 아니다. 팔이 내려 올 때는 팔의 무게로 내려오지만, 올라 갈 때는 허리를 앞으로 밀고 가슴을 짝 펴며 흉추의 기운으로 떠받쳐 팔이 어깨 뒤로 넘어가도록 한다.  2. 팔이 몸통 앞에서 교차할 때 한번은 오른팔이 바깥쪽, 왼팔이 안쪽에서 교차되도록 하고, 다음 번 만날 때는 오른팔이 안쪽, 왼팔이 바깥쪽에서 만나도록 하여 기운이 편중되지 않도록 한다.<br>
             (2) 옆으로 돌려 던지기  사진1매> 옆으로 돌려던지기 '천~' 호흡에 두 손으로 머리를 가볍게 감싸며 뒷사람이 보일 정도로 몸통(흉추)을 뒤로 돌려준다. '지~'호흡에 빠르게 몸통을 앞으로 돌려 던진다. 뒷머리를 감싼 두 손은 돌아오는 탄력에 의해 자연스럽게 풀리도록 한다. 좌측으로 던지기가 끝나면 오른쪽으로 던진다.   요점: 1. 몸통을 뒤로 돌릴 때 최대한 크게 비틀어 준다.  2. 뒤로 돌릴 때는 천천히, 앞으로 돌아올 때는 빠르게 한다. 슬로우-퀵의 리듬감을 살린다.<br>
            3.팔이나 어깨의 기운이 아니라 몸통(흉추)의 기운으로 던진다.   <br>
            (3) 대각선 던지기   <br>
            <img src="/static/img/cross.jpg" class="pull-right m-3" style="width:200px">
            '천~' 호흡에 양팔을 몸통 앞에서 반시계 방향으로 두 번 돌린 다음, '지~'호흡에 왼손을 왼쪽 옆구리 뒤에 대는 동시에 오른팔이 몸통을 끌도록 하여 45도 뒤쪽 대각선 방향으로 멀리 던져준다. 다음에는 방향을 바꿔서 오른쪽 뒤로 던져준다. <br>
             요점: 1. 왼쪽 뒤로 던질 때는 왼쪽 옆구리가 접혀 오른쪽 앞가슴 부분(갈비뼈)이 활처럼 쫘악 펴지게 몸통을 던져야 한다.<br>
            2. 목이 탈기되어 뒤로 툭 떨어져야 하며, 호흡 또한 한 점 남김없이 뱉어내야 한다.<br><br>

            (4) 팔 뒤로 던지기   <br>
             '천~'호흡에 양팔을 앞쪽으로 펴서 어깨 높이까지 올린다. '지~'호흡에 몸통을 뒤로 빠르게 돌리며 양팔을 편 채로 수평으로 왼쪽 뒤로 던진다.  '천~'호흡에 몸통과 팔이 앞으로 돌아오고 '지~'호흡에 양팔을 내린다. 다음에는 방향을 바꿔서 오른쪽 뒤로 던진다.   요점: 1. 팔을 뒤로 던질 때 팔이 몸통을 끌고 가는 것이 아니라 몸통이 뒤로 돌려지는 기운에 의해서 팔이 멀리 던져지도록 한다.  2. 빠른 속도로 몸통을 돌리는 원심력에 의해 팔과 어깨의 연결부분이 쭈욱 펴지게 한다. <br><br>

            (5) 가슴 펴기   사진1매> 가슴펴기 '천~'호흡에 왼발을 한걸음 앞으로 내딛고 양팔을 앞쪽으로 어깨높이만큼 올린 다음, '지~'호흡에 허리를 밀어 넣으며 가슴을 쫘악 폄과 동시에 양팔은 가슴이 더욱 더 펴질 수 있도록 빠른 속도로 뒤로 던진다. '천~'호흡으로 돌아온다. 그런 다음 순서를 바꿔 오른 발을 내디디며 가슴을 편다.  <br>
            가슴 펴기 행공을 생활화하면 머리를 숙이고 가슴이 움츠러드는 자세가 많은 일상생활에 크게 도움이 된다. 화장실 갈 때마다 거울을 보며 가슴 펴기를 하면 좋을 것이다. 공간이 좁으면 팔꿈치를 접은 상태에서 가슴 펴기를 해도 된다. <br><br>
             요점: 1. 핵심은 팔을 뒤로 많이 보내는 것이 아니라 가슴을 쫘악 펴는 것이다. 팔을 뒤로 많이 보내려고 하면 머리가 가슴보다 앞으로 나오게 되는데 이것은 잘못된 자세이다. 머리가 가슴 뒤에 자리하도록 가슴을 앞으로 쭉 내밀어야 한다.  2. 가슴을 최대한으로 펴기 위해서는 팔을 벌리는 기운을 활용할 뿐만 아니라 미골에서 올라오는 기운이 요추를 밀어 넣으며 흉추를 든든하게 받쳐주도록 한다.<br><br>

            <h3>허리 돌리기</h3><br>
             척추 33마디 가운데 유일하게 힘을 쓸 수 있는 뼈가 요추이다. 요추 5마디는 우리 몸의 건강과 삶의 질을 좌우하는 뼈 중의 뼈, 즉 왕뼈이다. 무거운 물건을 들거나 짐을 질 때 하중이 걸리는 곳이 허리이며, 걸음을 걷거나 달릴 때, 각종 운동을 할 때 핵심적인 역할을 하는 뼈가 요추이다. 요추가 잘 풀려 유연해지면 몸이 날아갈 듯 가벼워지고 삶의 질이 달라진다.<br><br>

            (1) 허리 돌리기  <br>
             발을 어깨넓이 보다 조금 좁게 벌리고 허리를 오른쪽 옆으로 최대한 밀어주어 준비자세를 갖춘다. 그 다음 허리가 오른쪽으로 최대한 밀려있는 자세(각도)를 그대로 유지한 채, '지~'호흡에 천천히 앞으로 그리고 왼쪽 옆으로 허리를 돌려나간다. '천~'호흡’에 요추가 왼쪽 옆에서 천천히 뒤를 돌아서 오른쪽 옆으로 돌아온다. 천천히 한 바퀴 돌린 다음에는 같은 방향으로 부드럽고 가볍게 돌린다. 이때도 허리가 앞으로 갈 때 '지~' 호흡, 뒤로 돌아갈 때 '천~'호흡이다. 왼쪽으로 돌리기가 끝나면 오른쪽으로 방향을 바꾼다.<br>
             요점: 1. 요추를 움직이려면 허리를 최대한 밀고 있는 상태에서 돌려야 한다. 이때 머리와 가슴은 정면을 향하도록 한다. 이렇게 하지 않으면 요추가 돌지 않고 골반만 돌게 된다. 2. 무릎이 굽지 않도록 한다. 발 사이의 간격을 조금 좁히는 이유는 허리가 잘 돌아가게 하기 위한 것이다.   (2) 큰 허리돌리기  사진6매> 큰허리1/2/3/4/5/6 허리가 더 크게 원을 그리는 행공이다. 서 있는 자세에서 상체를 앞으로 굽히고 탈기시켜 얼굴과 팔을 오른 발목 가까이 붙여 준비자세를 취한다. '천~'호흡에 상체가 왼쪽 발목을 지나서 계속해서 크게 원을 그리며 조금씩 올라온다. 상체가 골반 높이까지 올라 왔을 때, '지~'호흡으로 왼쪽 골반을 앞으로 밀어 넣는다. 골반이 앞으로 나가면 허리가 뒤집어지고, 상체는 뒤쪽으로 원을 그리며 돌아간다. 팔도 뒤로 축 떨어뜨린다. 그 다음 오른쪽 골반을 밀어 넣으면 상체는 오른쪽으로 이동하고 처음 준비자세인 오른 발목으로 돌아온다. 왼쪽 돌리기에 이어 오른쪽 돌리기로 방향을 바꾼다.<br><br>

             요점: 1. 상체(팔 포함)는 힘을 빼고 축  떨어뜨려 최대한 탈기시킨다. 2. 다리의 단단한 버팀과 골반과 요추의 기운으로 상체가 큰 원을 그리며 돌아가게 한다.   <br><br>

            <h3>무릎 행공</h3><br>

            나이가 들어 몸이 노화되면 통증이 가장 먼저 찾아오는 곳이 무릎이다. 젊을 때부터 무릎 행공을 열심히 하면 이런 고통에서 벗어날 수 있다. 무릎 행공은 허벅지(대퇴부) 근육을 강화하여 무릎에 걸리는 부하를 줄여주는 행공이다. 스피드스케이팅 선수들이 폭발적인 힘과 추진력을 내는 것은 무릎이 아니라 잘 발달된 허벅지이다.<br>
             (1) 무릎 굽히기.   <br>
             준비자세 때 두 무릎과 복숭뼈를 서로 붙인 다음 상체를 숙여 양손을 무릎 위에 가볍게 얹는다. '지~'호흡에 단전의 기운을 무릎으로 내려 보내 허벅지 뒷부분과 종아리가 만날 때까지 무릎을 앞으로 밀어준다. 무릎이 앞으로 밀려가는 기운에 맞추어 발가락도 젖혀지게 하며, 무릎이 앞으로 밀려 완전히 굽혀졌을 때 발가락도 최대한 젖혀지게 한다. 이 상태에서 한번 더 '지~'호흡을 하면서 기운을 무릎으로 밀어준다.<br>
            '천~'호흡에 그 기운을 그대로 안고 무릎과 발가락을 펴면서 손으로 지긋이 무릎 위를 눌러준다. 그리고 한번 더 '천~'호흡에 손으로 무릎을 눌러서 펴준다. 무릎 굽히기의 호흡은 다른 동작과 달리 2번씩 “뱉고, 뱉고”  “마시고, 마시고”이다.  <br><br>
            요점:  1. 양 무릎과 복숭뼈는 굽힐 때나 일어설 때나 항상 딱 붙여야 한다.  2. 무릎을 먼저 굽히는 것이 아니라, 단전에서 무릎으로 밀어주는 기운에 의해 무릎이 피동적으로 굽혀지도록 한다.  3. 두 번째 '지~'호흡으로 한번 더 무릎을 밀어 주고 일어설 때 반동을 사용해서는 안 되며, 한번 더 밀어준 기운을 그대로 안고 일어선다.   <br>
            (2) 무릎 돌리기    <br>
             준비자세는 무릎 굽히기와 같다. '지~' 호흡 한번에 무릎을 약간 구부려 시계방향으로 한 바퀴 돌리고, 연이은 '지~'호흡에 한 바퀴 더 돌린다. '천~' 호흡에 무릎을 펴며 손으로 무릎이 쫘악 펴지도록 눌러준다. 연이은 '천~'호흡에 한번 더 무릎을 눌러준다. 그런 다음 회전방향을 바꾼다.    요점: 1. 반드시 호흡에 맞추어 무릎을 돌린다.  2. 연속되는 '지~'호흡에 무릎을 두 번 돌리고, 연속되는 ‘천~'호흡에 손으로 무릎이 펴지도록 두 번 눌러준다. <br><br>

            <h3>가슴올리기</h3><br>
             가슴올리기는 갈비뼈와 횡경막 사이를 넓혀주는 행공이다. 서 있는 자세에서 상체를 탈기하여 앞으로 자연스럽게 숙이고 팔도 늘어뜨린다. '천~'호흡에 발이 허공에 뜰 정도로, 양 팔꿈치는 등 뒤를 지나 위쪽을 향해 폭발적으로 치켜 올린다. '지~'호흡에 발이 바닥에 닿으며 처음 자세로 돌아온다. 보통 10회 정도 하는데 마지막 '천~'호흡 때 상체를 바로 일으키며 두 팔을 펴고 손바닥으로 머리 위에서 박수를 친다.   요점: 1. 팔꿈치를 하늘로 치켜 올리는 기운에 의해 갈비뼈와 횡격막 사이가 넓혀지며, 위로 향하는 이 기운이 다리도 끌어당겨 양 발이 공중에 뜨게 된다. 다리, 무릎, 발의 힘이나 반동에 의해 상체가 올려지는 것이 아님에 유의해야 한다.  2. 팔과 어깨를 뒤로 심하게 젖히는 동작이므로 이를 마친 후 팔 흔들기로 팔과 어깨를 풀어준다.<br><br>

            <h3>허리 굽히기</h3>
            <img src="/static/img/waste.jpg" class="pull-left m-3" style="width:200px">

            허리 굽히기는 온몸의 관절 하나하나를 풀어낸 후에야 피울 수 있는 혈기행공의 꽃이다. 허리 굽히기는 몸이 변화하는데 따라 그 깊이가 마르지 않는 샘물과 같고, 수련이 깊어지면 또 다른 나를 들여다 보게 되는 묘미가 있다.<br>
            허리 굽히기의 핵심은 몸의 중추인 척추를 펴는 행공이다. 척추를 펴기 위해서는 먼저 오금이 펴져야 한다. 이처럼 허리 굽히기에는 신체의 각 부위가 상호 작용을 하는 것이 많아 동작도 12개나 된다. 12개 동작의 기초가 되는 1번을 중심으로 살펴본다.<br>
            먼저 준비자세로. 양 발 사이의 거리는 어깨넓이 보다 조금 넓게 잡고, 발 안쪽 라인이 11자가 되게 앞부분을 약간 모은다. 양다리는 쇠기둥처럼 딱 버티고 상체는 탈기하여 앞으로 쭈욱 내려 놓는다. 두 손은 엄지손가락이 교차하게 가볍게 서로 잡는다. 팔은 팔꿈치를 굽혀 손이 턱 가까이 오게 한다.<br>
            준비자세가 끝나면 ‘천~’호흡에 상체(가슴)가 들어 올려지며 손은 가슴 부근으로 가져온다. ‘지~’호흡에 상체를 툭 던지며, 손은 맞잡은 그 상태로 얼굴을 지나 앞으로 쭉 밀어준다. 이때 굽혀진 팔꿈치 각도는 그대로 유지한 채 손을 앞으로 밀어 준다.   요점:  1. 무릎을 굽히면 안 된다. 다리 뒤쪽이 당기고 아프면 자신도 모르게 무릎을 굽히는 수가 있지만, 그렇게 하면 행공이 아니라 노동이 되고 만다.  2. ‘지~’호흡은 아랫배가 등에 붙을 만큼 숨을 한 점도 남김 없이 깊숙하게 툭 내 뱉어야 한다. '지~'호흡이 깊을수록 상체 탈기가 잘 이루어진다.  3. 수련단계가 깊어지면 팔은 기운이 가는 대로 맡겨두면 되지만, 수련의 초기 단계에선 ‘지~’호흡에 상체를 앞으로 던질 때 팔도 같이 앞으로 쭉 밀어주면 상체(척추)를 펴는 데 도움이 된다.  4. 허리 굽히기 도중 다리가 아프면 끝까지 버티고 참아야 한다. 그러나 허리가 아프면 힘을 잘못 주고 있는 상태이므로 일어나서 허리돌리기로 풀어준다.<br>
            5. 허리 굽히기를 하기 전에 3돌기인 목, 허리, 발목을 반드시 풀어준다.<br><br>

            <h3>사피술(蛇皮術)</h3>
            <img src="/static/img/snake.jpg" class="pull-right m-3">

            뱀이 껍질을 벗고 앞으로 나아가는 모습의 사피술도 몸을 풀고 난 후에 하는 난이도가 있는 행공이다. 상체가 앞으로 나아가는 기운에 의해 양 다리는 뻗은 자세 그대로 옆으로 벌려지다가 상체가 쭉 앞으로 나아감에 따라 다리는 180도 뒤로 회전하며 밀려 나게 된다.<br><br>

            요점 <br>
            1. 단전이 바닥을 밀며 앞으로 나아가는 기운으로 상체가 나아간다. <br>
            2. 다리는 탈기하고 무릎을 굽히지 않고 뻗은 자세 그대로 뒤로 돌아가도록 한다. <br>
            3. 앞으로 나아간 후에는 치골만 바닥에 닿게 상체를 세우며, 양다리는 뒤로 모은다.<br>
            4. 돌아올 때도 역시 단전이 뒤로 밀려오는 기운에 의해 처음의 자세로 돌아온다.<br>

          </p>
  </div>
  </div>
  </div>
  </section>

  <section id="mamu">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <hr>
          <h1>마무리 행공 </h1>
          <p>
            마무리 행공은 행공으로 인해 온 몸을 흐르고 있는 기운을 정리정돈하여 단전에 갈무리하는 행공이다.<br>
            두 손을 단전에 모우고 발뒤꿈치 붙여서 바르게 선다. ‘천~’호흡에 두 손을 가슴으로 끌어 올린 다음 양 옆으로 팔을 쫘악 펴 준다. 이때 단전에서부터 끌어올린 기운을 척추를 중심으로 몸 뒤 어깻죽지를 타고 양쪽 손바닥(노공혈)으로 펼쳐내며, 호흡은 노공혈을 통해 단전에 이르게 한다. ‘지~’호흡에 상체와 팔을 탈기시켜 바닥으로 내려 놓는다.<br>
            다시 ‘천~’ 호흡으로 탈기된 상체를 일으켜 세운다. 이때에는 발바닥의 용천혈에부터 기운을 끌어올리며 상체를 호흡으로, 즉 배가 등을 밀어 바로 세운 다음에 처음처럼 팔과 손으로 기운을 가슴까지 끌어올려 다시 양옆으로 팔을 쫘악 펴준 상체를 바닥에 2회 내려주고 3번째 ‘지~’호흡에서는 양손과 함께 기운을 단전으로 모아준다.<br><br>

            요점 <br>
            1. 2,3번째 ‘천~’호흡 시에는 반드시 괄약근에 힘을 주어 모아야 한다. 그렇게 하면 기운이 용천혈에서 올라오게 된다.<br>
            2. ‘지~’호흡 에는 깊이 내쉬며 상체를 최대한 탈기시켜 내려 놓는다. ‘천~’호흡시 상체를 일으킬 때는 오로지 호흡으로 행(行)이 이루어져야 한다.

          </p>
  </div>
  </div>
  </div>
  </section>
  {% endblock %}
