{% extends "base.html" %}
{% block title %}천지선공에 관하여{% endblock%}
{% block content %}



  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">
          <h2 class="mt-3">몸의 줄기 척추를 튼튼하게</h2>
          <p>산과 언덕은 기운이 다르다. 산은 줄기와 맥(脈)을 지니고 있지만 언덕엔 줄기와 맥의 기운이 없다.
            인간의 몸은 언덕이 아니라 산이다. 척추라는 줄기를 지니고 있다. 인간의 모든 것은 척추를 둘러싸기 위한
            전주곡일 뿐이다. 태아가 어머니 뱃속에서 자랄 때 가장 먼저 형성되는 것이 척추 속에 들어 있는 척수이다. 천지선공의 꽃은 몸의 줄기인 척추를 튼튼하게 하는 것이다.</p>
        </div>
        <div class="col-md-3">
          <div class="d-flex justify-content-center">
            <img src="/static/img/huritop.jpg" alt="" class="img-fluid rounded d-block mt-2 mb-1" style="height:300px;">
        </div>
        </div>
      </div>
    </div>
  </section>

  <section id="icon-boxes" class="p-1">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="bg-secondary text-left text-white">
            <div class="card-body">
                <h3>예비행공</h3><br>
                <p>예비행공은 척추를 바로 세워 오장육부에 기를 불어넣는 행공이 다. 예비행공은 앉는 자세가 중요하다. 구부러진 관 속으로는 물이 잘 흘러가지 못하듯이 자세가 바르지 않으면 기운을 제대로 보낼 수 없다.</p>
                <a href="#yebi" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-success text-left text-white">
            <div class="card-body">
                <h3>기초행공</h3><br>
                <p>천지선공에서 목, 허리, 발목을 ‘3돌기’라고 한다 이 3곳이 잘 돌아 가야 건강하다. 특히 발목은 몸무게를 평생 지탱하는 일을 한다. 비 뚤어진 자세와 병의 근원은 발에서 비롯된다고 해도 과언이 아니다.</p>
                <a href="#gicho" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-danger text-left text-white">
            <div class="card-body">
                <h3>본행공</h3><br>
                <p>본행공은 척추 33마디를 풀어주고 제자리를 잡아주는 행공이다. 척추 33마디는 경추(목뼈) 7, 흉추(가슴뼈) 12, 요추(허리뼈) 5, 천추(천골, 엉치뼈) 5, 미추(미골, 꼬리뼈) 4마디로 이루어져 있다. </p>
                <a href="#bon" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="bg-secondary text-left text-white">
            <div class="card-body">
                <h3>마무리행공</h3><br>
                <p>마무리 행공은 기운을 정리정돈하여 단전에 갈무리하는 행공이다.</p>
                <a href="#mamu" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-primary text-left text-white">
            <div class="card-body">
                <h3>나는 누구인가</h3><br>
                <p>나는 원래 하나의 기운이었다. 그것이 상(像)으로 표현된 것이 나다. 나의 상은 몸이다. 몸은 대우주의 섭리를 알고 있다. 머리는 모른다. 몸은 미치도록 행공해야 본성을 드러낸다. 나의 주인은 몸이다. 마음이 아니다.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-success text-left text-white">
            <div class="card-body">
                <h3>나를 찾는 호흡</h3><br>
                <p>대우주의 에너지로 잃어버린 나의 능력을 되찾을 수 있다. 천지선공을 하면 대우주의 에너지가 내 몸 속으로 들어와서 뼛속에 쌓이게 된다. 대우주의 에너지와 내가 합일(合一)이 될 때 비로소 나를 찾게 된다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="yebi">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">

          <h1>예비 행공</h1>
          예비행공은 척추를 바로 세워 오장육부에 기를 불어넣는 행공이다. 예비행공은 앉는 자세가 중요하다. 구부러진 관 속으로는 물이 잘 흘러가지 못하듯이 자세가 바르지 않으면 기운을 제대로 보낼 수 없다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비4-1.jpg" alt="" class="img-fluid d-block" style="height:200px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          다리는 반가부좌(또는 가부좌) 자세를 취한다. 벽돌처럼 차곡차곡 쌓여 있는 척추를 바로 세우기 위해 주춧돌 격인 대퇴부를 반듯하 게 고정시키기 위함이다. 반가부좌를 할 때 남성은 왼발(음)이 아래, 오른발(양)이 위, 여성은 오른발(음)이 아래, 왼발(양)이 위에 오도록 한다. 손을 놓는 위치는 남성은 왼손(음)이 아래 오른손(양)이 위, 여성은 오른손(음)이 아래, 왼손(양)이 위로 가도록 한다. 음이 양을 감 싸고 있는 우주의 근본 섭리에 따르는 자세이다. 엄지손가락은 손톱이 반 정도 겹치게 하며 눈은 반개(半開)한다.<br>
          
          그렇게 한 다음 회음(남성을 예로 들면 낭심과 항문 사이)이 바닥에 닿고, 정수리에 있는 백회와 수직을 이루도록 한다. 이런 자세를 취하려면 허리(요추)를 앞으로 밀어 넣어 흉추를 바로 세우고 가슴을 쫙 펴야 한다.
          단전에서 올라오는 힘으로 허리가 바로 서고 가슴이 펴지게 앉는 자세는 좌식호흡의 출발점이다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비8-1.jpg" alt="" class="img-fluid d-block" style="height:200px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          토호흡은 예비행공의 전과 후에 하는데 다음과 같은 차이가 있 다.<br>
          ● 예비행공 전 토호흡 : 행공 시작 전 오장육부에 쌓인 객기와 탁 기를 토해내는 호흡. 입을 약간 벌려 깊게 뱉어낸다.<br>
          ● 예비행공 후 토호흡 : 전신의 탁기를 남김없이 털어내며 몸을 완 전히 비우는 호흡. 입은 다물고 코로만 호흡한다.<br>
          토호흡을 하는 방법은 다음과 같다. ‘천(天)~’호흡은 들숨이고 ‘지 (地)~’호흡은 날숨이다.<br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/토호흡3.jpg" alt="" class="img-fluid d-block" style="height: 130px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          1번<br>
          천_ 단전의 기운으로 미골과 선골에서 부터 요추를 밀어 올리면 서 흉추 전체를 다 편다. 손도 함께 따라 올라가 가슴(유중)까지 왔 을 때 그 기운을 손가락 끝으로 보내면서 두 손을 어깨높이에서 양 옆으로 넓게 활짝 펼친다. 손가락 사이를 벌리고 팽팽하게 펴서 기 운이 끝까지 가도록 한다. 마치 풍선이 부풀어 오르듯이 폐와 갈비 뼈가 벌어져 제자리에 가게 하고 척추・팔꿈치 등 상체의 어떤 부위 도 접히거나 굽은 곳이 없도록 한다.<br>
          지_ 손가락 끝에 몰려 있는 기운을 단전으로 모으면서 원래의 자 세로 돌아간다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비1-3.jpg" alt="" class="img-fluid d-block" style="height:150px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          2번<br>
          천_ 행공의 방법은 1번과 같다. 1번 행공은 팔을 펼치는 방향이 어 깨와 수평이지만 2번 행공은 팔의 방향이 어깨와 머리의 가운데, 즉 45도 방향이다. 1번은 폐를 옆으로 확장시키고 2번은 가슴을 거쳐 견갑을 이완시켜 폐를 좀 더 위쪽으로 벌리며 확장시키는 것이다.
          팔을 쭉 뻗고 손가락을 펴는데 모든 기운은 손끝에만 있다. 이때 단전에는 기운이 하나도 없다. 팔이나 어깨에도 맺힌 기운 없이 미 기만이 흐른다. 그러면 팔을 오래 들고 있어도 전혀 힘들지 않다.<br>
          그러나 팔이나 어깨에 객기가 끼여 기운이 맺혀 있으면 힘들고 아 프게 된다. 척추가 펴지면서 기운이 올라가는 것이 요점이다. 손은 몸의 기운을 끌고 올라가는 것이다.<br>
          지_ 손끝의 기운을 끌고 내려와 단전으로 모아준다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비2.jpg" alt="" class="img-fluid d-block" style="height:200px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          3번<br>
          천_ 양 손가락을 1번과 같은 방법으로 가슴으로 올린 다음 손바 닥을 아래로 하여 어깨와 수평으로 쭉 뻗는다.<br>
          지_ 고개를 돌려서 시선은 왼손가락 끝을 보며 단전의 기운을 왼 손가락 끝으로 보내 손끝의 기운으로 뒤로 돌아간다. 팔이 굽지 않 아야 하며 요추가 뒤로 빠지지 않고 가슴이 펴진 상태에서 돌아가 도록 한다. 허리에 힘을 써서 돌리는 게 아니다. 허리는 힘을 빼고 신 장 기운을 느끼면서 돌아가는 것이다. 최대한 돌린 후, 손가락 끝에 모인 기운을 손끝 밖으로 내보낸다.<br>
          천_ 손가락 끝으로 천기를 마시며 천천히 돌아와 정면을 바라본다. 지_ 손가락 끝부터 탈기하여 처음의 자세로 돌아온다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비3-2.jpg" alt="" class="img-fluid d-block" style="height:150px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          4번<br>
          천_ 단전의 기운으로 양손을 위로 끌어 올려서 허파를 감싼 다음 갈비뼈의 아래 부분을 따라 뒤로 신장으로 가서 포개진다. 모든 기 운을 엄지에 싣고 갈비뼈 경계를 따라 양손이 다시 올라온다. 중지 가 유중을 지나고 팔과 팔꿈치는 완전히 뒤로 젖히면서 양겨드랑이 밑에서 팔목을 구부려 돌리면서 흉추를 완전히 펴 흉추의 기운으 로 팔을 앞으로 민다. 양 팔을 앞으로 밀면서 그 미는 힘에 의하여 몸은 뒤로 밀린다. 손목을 뒤로 젖혀 말고 손가락은 약간 구부려 앞 쪽으로 향한다. 팔을 밀고 있을 때는 대우주의 기운(천기)은 손바닥 가운데에 있는 노궁혈로 받는다.<br>
          지_ 손에서 부터 호흡에 맞추어 탈기하면서 처음 자세로 돌아온다.<br>
          5번<br>
          4번과 같으나 팔은 육중한 문을 밀어 내듯이 양옆으로 뻗는다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비4-8.jpg" alt="" class="img-fluid d-block" style="height:200px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          6번<br>
          4번과 같으나 팔을 위로 뻗는다. 척추 전체가 펴지고 경추가 뒤로 넘어가며 팔은 귀 뒤에 붙어서 위로 쫙 뻗어 올라간다. 척추가 펴지 고 팔이 올라가면서 몸이 넘어 갈듯 말듯 할 정도로 들린다. 팔을 위로 밀 때 팔이 벌어지면 안된다. 큰 바위를 떠 받치듯이 한다. 팔 이 대우주 기운과 통하여 쭉 뻗어 있는 느낌이다.

        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비6-3.jpg" alt="" class="img-fluid d-block" style="height:250px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          7번<br>
          천_ 오장육부의 기운이 손목으로 가서 어깨선까지 올라간다. 손 을 펴지 않고 부드럽게 해서 팔을 수평 상태로 편 다음 손목의 힘으 로 아래로 향한 손바닥을 위로 뒤집는다. 손목을 돌리면서 기운이 손가락 끝으로 간다. 손가락 끝에 모인 기운이 팔을 끌어올린다. 이 때 기운이 대맥, 겨드랑이에서 팔 안쪽으로 연결되며 팔꿈치가 구 부려져 약간 타원형으로 올라간다.<br>
          지_ 겹쳐진 손을 백회로 가져 간다. 모인 기운이 넘치지 않게 하 기 위해 살며시 눌러주는 개념이다.<br>
          8번<br>
          천_ 팔을 수평이 되게 양옆으로 펴는 것은 7번과 같다. 손목의 힘 으로 아래로 향한 손바닥을 서로 마주보게 뒤집으면서 손가락 끝으 로 기운을 보낸다. 양손가락 끝의 기운으로 대우주의 기운을 둥굴 게 안는다. 대우주의 에너지에 편안히 안기는 개념이다. <br>
          지_ 양손 끝을 겹친 상태로 지호흡을 한다.<br>
          천_ 겹쳐진 양손을 풀어 양팔이 수평이 될 때까지 편다.<br>
          지_ 양손바닥이 아래를 향하도록 하고 천천히 내려 처음의 자새로 돌아간다.

        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비7-8.jpg" alt="" class="img-fluid d-block" style="height:250px;">
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          9번<br>
          천_ 양 손이 임맥을 따라 올라가다 유중을 거쳐 그대로 팔을 위 로 올리며 척추가 활짝 펴지고 팔은 구부림 없이 쭉 펴 손끝으로 기 운이 몰려가면서 손바닥은 앞을 향하게 하고 손가락은 활짝편다.<br>
          지_ 손가락 끝부터 팔, 어깨 순으로 탈기 하면서 처음의 자세로돌아온다
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비9-4.jpg" alt="" class="img-fluid d-block" style="height:250px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          10번<br>
          천_ 단전에서 올라온 양 손이 배꼽 앞에서 부터 손끝을 모으는데 손끝의 기운을 부드럽게 해서 합장한다. 합장하면서 손가락 끝과 노 궁혈에 기운이 모인다.<br>
          합장한 손이 양 손가락 끝의 기운으로 임맥을 따라 올라가서 은 교를 거쳐 백회까지 끌어 올린 다음 위로 쭉 뻗는다. 팔꿈치는 구부 러짐 없어야 한다.<br>
          지_ 양손이 몸 뒤쪽으로 크게 펼쳐져 내려온다. 임맥을 따라 몸 앞에서 올라간 기운이 몸 뒤 독맥을 따라 내려온다. 양손은 어깨 높 이에서 손바닥이 아래로 향하게 한다.<br>
          11번<br>
          천_ 10번의 역순. 올라갈 때 양팔이 앞이 아니라 몸 뒤쪽에서 올 라간다. 기운이 밖으로 가면 안되고 기운은 안으로 가면서 탈기된 상태에서 팔이 올라간다. 어깨 높이에서 양손바닥이 위로 향한다. 팔이 굽으면 안된다. 허리가 하나, 둘, 셋... 펴지면서 모든 기운이 손 끝을 따라 위로 올라간다. 백회 위에서 합장한다.<br>
          지_ 엄지가 백회를 거쳐 내려 온다. 아주 가볍게 손의 기운만으로 끌고 내려온다. 팔에는 기운이 가지 않도록 한다. 팔꿈치 사이가 벌 어지면 안된다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/예비10-3.jpg" alt="" class="img-fluid d-block" style="height:250px;">
        </div>
        </div>
      </div>
    </div>
  </section>

  <section id="gicho">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <br>
          <h1>기초 행공</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          발목 돌리기<br>
          천지선공에서 목, 허리, 발목을 ‘3돌기’라고 한다 이 3곳이 잘 돌아 가야 건강하다. 특히 발목은 몸무게를 평생 지탱하는 일을 한다. 비 뚤어진 자세와 병의 근원은 발에서 비롯된다고 해도 과언이 아니다.<br>
          발목 돌리기는 오른쪽 다리를 쭉 펴고 왼 다리의 무릎을 접어 정 강이 부분을 오른 다리 위에 올려 놓는다. 그 다음 왼손 엄지손가락 으로 왼발 복사뼈 바로 밑의 조해혈을 눌러주고 오른손으로 왼발의 발가락 부분을 가볍게 감싸 쥐고 발등이 당길 정도로 발목을 크고 부드럽게 돌린다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/발목돌리기1.jpg" alt="발목돌리기" class="img-fluid d-block" style="height:200px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          발목을 돌린 후 발바닥 잡고 앞으로 비틀기를 한다. 손가락으로 깍지를 끼어 발바닥이 하늘을 향하게 한다.<br>
          ‘지~’호흡에 왼팔꿈치가 접혀진 왼발 앞쪽으로 빠지면서 손의 힘이 아니라 몸이 숙여지는 힘으로 발목을 비틀어준다. ‘천~’호흡에 일어난다. 발목 뒤로 젖히기는 ‘지~’호흡에 발바닥이 바닥을 향하도 록 발등을 밀며 몸이 뒤로 젖혀지는 힘으로 발목을 비틀어준다. ‘천 ~’호흡에 처음 자세로 돌아온다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/발목비틀기4.jpg" alt="발목비틀기" class="img-fluid d-block" style="height:200px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>다리 벌려 상체 숙이기</h3>
        다리를 뻗고 상체를 숙이는 행공에는 골반이 벌어지는 각도에 따 라 두 다리를 모은 자세, 어깨넓이로 벌린 자세, 90 ̊, 일자 벌린 자세 등이 있다.<br>
        (1)선호흡,후동작<br>
        호흡이 행(行)을 이끌고 행(行)은 호흡을 따라 간다. 행(行)이 호흡과 무관하게 나아가려고 하면 객기가 올라와 더 내려가지 않는다. 상체 는 잠 오듯이 편안하게 탈기 한다. 동중정(動中靜) 상태이다.<br>
        (2) 무릎을 편다<br>
        다리를 쭈욱 펴고 상체를 반듯하게 세운다. 오금이 바닥에 닿도 록 한다. ‘지~’호흡에 상체를 내려놓을 때, 처음보다 무릎이 올라오 지 않도록 한다. 상체를 내려 보내기 위해 무릎을 구부리는 것은 의미가 없다. 무릎(오금)을 펴고 상체는 ‘지~’호흡으로 탈기하며 내려 놓는다.<br>
        (3) 상체를 탈기시키고 미골로 밀어낸다<br>
        ‘지~’호흡을 깊이 하며 상체를 회음, 하단전, 중단전 순으로 탈기 시켜 내려놓는다. 이마 또는 아랫배가 바닥에 붙으면 그냥 그대로 있는 것이 아니라 호흡과 함께 미골에서 머리(백회혈)로 계속 기운을 밀어 낸다. “정중 동(靜中動, 겉으로는 정지해 보여도 안에서는 끊임없이 운기하고 있는 상태)”이 다. ‘천~’호흡에는 미골에서 백회로 기운을 밀면서 올라온다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/다리펴고상체굽히기.jpg" alt="" class="img-fluid d-block" style="width:250px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>다리접어 상체 숙이기 </h3>
        한쪽 다리를 앞(뒤)으로 접고 다른 쪽 다리를 쭉 편 상태에서 상 체를 내려놓는 행공은 가위 벌리기의 예비동작이라 할 수 있다. 뻗 은 다리의 안쪽을 최대한 펴고 편 다리와 접은 다리는 일직선상에 둔다. 상체는 접은 다리 쪽을 향해 틀어준다.<br>
        ‘지~’호흡에 펴고 있는 다리 방향으로 상체를 호흡과 함께 천천히 내려놓는다.<br>
        ‘천~’호흡에 처음의 자세로 돌아온다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/다리접어상체.jpg" alt="" class="img-fluid d-block" style="height:150px;">
         </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>가위 벌리기 </h3>
        한쪽 다리를 앞으로 쭉 뻗은 다음 양손으로 바닥을 짚어 체중을 받친다. 팔을 차츰 낮추면서 상체(회음)를 천천히 바닥에 내려놓는 다. 이때 앞으로 뻗은 다리가 굽지 않도록 한다. 뻗은 다리를 앞으로 기운을 계속 쭉 밀면서 내려간다. 반대편 다리는 뱀의 꼬리처럼 따 라 오도록 둔다. 회음이 바닥에 닿은 후 상체를 세우고 양손은 가볍 게 허벅지와 허리에 둔다.<br>
        ‘지~’호흡에 상체를 탈기시켜 내려놓는데, 앞으로 뻗어 있는 다리 에 상체를 최대한 붙인다. ‘천~’호흡에 단전의 기운으로 상체를 일으 킨다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/가위벌리기1.jpg" alt="" class="img-fluid d-block" style="height:150px;">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
      <h3>다리 양 날개 벌리기</h3>
      다리로 날개를 벌릴 때는 무게중심이 두 발과 선골에 1/3씩 나누 어 실리도록 한다. 앉은 자세에서 손바닥으로 발의 뒤꿈치를 감싸 쥐고, ‘천~’호흡에 뒤꿈치로 기운을 보내어 날개 펼치듯 양옆으로 쫘악 편다. 이때 무 릎이 굽혀지지 않도록 다리를 최대한 편다.<br>
      허리가 뒤로 빠지지 않도록 요추를 앞으로 밀어 넣어 상체를 바 르게 펴는 것이 핵심이다. 중심이 흐트러져 쓰러지더라도 앞으로 쓰 러져야 한다.
      ‘지~’호흡에 두 손으로 잡고 있는 발을 상체 앞 바닥으로 가져와 붙인다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/양날개.jpg" alt="" class="img-fluid d-block" style="height:150px;">
         </div>
        </div>
      </div>
  </div>
  </section>

  <section id="bon">
    <div class="container">
      <div class="col-12">
        <hr>
        <br>
        <h1>본행공</h1><br>
        본행공은 척추 33마디를 풀어주고 제자리를 잡아주는 행공이다. 척추 33마디는 경추(목뼈) 7, 흉추(가슴뼈) 12, 요추(허리뼈) 5, 천추(천골, 엉치뼈) 5, 미추(미골, 꼬리뼈) 4마디로 이루어져 있다. <br>
        몸을 푸는 순서는 위에서 아래로 내려간다. 목(경추)을 풀고, 어깨(견갑골)를 풀고, 가슴(흉추)을 풀고, 허리(요추)를 풀고, 무릎을 푼다.<br>
        본행공은 예비행공이나 기초행공에 비해 몸을 많이 움직여야 하고 동작도 매우 격렬하여 선(先)호흡 후(後)동작이
        더욱 강조된다. 선호흡 후동작은 호흡으로 동작을 이끈다는 의미이다. 호흡, 즉 아랫배의 풀무질이 모든 동작의 방아쇠(출발점)가 되어서 몸통과 사지의 움직임을 이끌어 가는 것이다. 그렇게 함으로써 동중정(動中靜), 즉 몸은 움직이지만 탈기가 되어 그 기운이 고요해지는 경지에 들어갈 수 있다. 일단 기운이 고요해져야 그 기운을 다른 곳으로 보낼 수 있다.<br>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>목돌리기 </h3>
        목 행공은 척추의 가장 윗부분인 경추(목뼈) 7마디를 풀어주는 행 공이다. 목은 머리와 몸통을 연결하는 통로이다. 목이 잘 돌아가지 않는 것은 객기가 쌓여 있다는 징후이다.<br>
        【 요점 】<br>
        1. 오금을 쫘악 펴고 선다. 허리를 세우고 가슴은 하늘을 향해 벌린다. 2. 목을 쭈욱 뽑은 상태에서 돌리며 허리가 따라가지 않도록 한다. 3. 머리의 반대방향에 경추의 당김이 느껴지도록 한다.<br>
        (1)목뒤로젖히기<br>
        미골에서 척추를 밀어 올려 경추 1번부터 7번까지 하나씩 차례 로 뒤로 넘긴다. 입을 약간 벌리고 ‘지~’호흡으로 턱을 최대한 하늘 로 밀어 올린다. ‘천~’호흡으로 제자리에 돌아온다.<br>
        (2) 목 앞으로 숙이기<br>
        ‘지~’호흡에 단순히 고개를 숙이는 것이 아니라 자라가 목을 내밀듯이 쭉 뽑아낸다. 양손으로 깍지를 껴 뒷머리에 걸고 어깨는 탈기 하고 팔꿈치로 당겨낸다. 양 팔꿈치를 모아서 ‘해마’ 모양을 취한다. ‘천~’호흡에 제자리로 돌아온다.<br>
        (3) 목 좌(우)로 젖히기<br>
        ‘지~’호흡에 목을 왼(오른)쪽으로 돌린 다음 왼손(오른)으로 오른 쪽 턱을 하늘로 밀어주고 오른(왼)손은 왼쪽 관자놀이를 잡아 비틀 어 당겨준다.<br>
        (4)목따라허리돌리기<br>
        ‘지~’호흡에 왼(오른)쪽으로 목을 돌린다. 목이 최대한 뒤로 돌아 간 후 반대편 옆구리가 당겨진 상태에서 목을 따라서 몸통과 허리 가 계속 끌려오도록 한다. ‘천~’호흡에 목이 정위치로 돌아오면서 몸통과 허리가 따라서 정위치로 온다.<br>
        (5)목크게돌리기<br>
        이상의 목 돌리기 예비동작으로 경추를 푼 다음 목을 탈기한 상 태에서 오른쪽(왼쪽) 어깨에서 앞으로 그리고 왼쪽(오른쪽) 어께까지 크게 목을 돌린다. 그다음에는 등쪽으로 왼쪽(오른쪽) 어깨에서 오 른쪽(왼쪽) 어깨까지 천천히 크게 올린다. 호흡은 앞으로 돌릴 때 마 시고 뒤로 돌릴 때 내쉰다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/목돌리기.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>목 낚아채기</h3>
        목과 함께 신장을 강화하는 행공이다. 신장(콩팥)은 다른 장기와 달리 선천의 기운으로 움직인다. 신장 기운은 태어나면서 부터 정해 져 있다. 육체가 마지막에 스러지는 이유도 결국 독소와 불순물을 걸러내는 기능이 떨어지기 때문이란 점을 감안하면 신장은 참으로 중요한 장기이다.<br>
        ‘지~’호흡에 입을 약간 벌려 옆구리를 뒤쪽 45도 방향으로 꺾으면 서 머리를 툭 떨어뜨린다. 마치 지붕위에 있던 호박이 굴러 툭 떨어 지는 개념이다.<br>
        ‘천~’호흡에 허리와 머리를 제자리에 갖다 놓고, 다시 ‘지~’호흡에 반대편 45도 방향으로 옆구리를 꺾으면서 머리를 툭 떨어진다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/목낚아채기.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>팔 행공</h3>
        (1) 팔 흔들기<br>
        두 발을 편안하게 벌려서 양 팔꿈치가 귀 위에 위치하도록 팔을 위로 올린다. 팔꿈치와 어깨는 탈기하고 손목 리드하여 앞뒤로 흔들어 준다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/팔행공.jpg" alt="" class="img-fluid d-block" style="height:300px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
          <h3>어깨 돌리기 </h3>
          어깨 행공은 어깨와 견갑을 푸는 동작이다.<br>
          (1) 어깨 따로 돌리기<br>
          상체를 탈기한 상태에서 왼쪽 어깨와 오른쪽 어깨를 번갈아 가면 서 크게 원을 그린다. 어깨는 최대한 귀 가까이 올라오도록 한다. 뒤 쪽에서 앞쪽으로 돌린 다음 앞쪽에서 뒤쪽으로 돌린다.<br>
          (2) 어깨 함께 돌리기<br>
          ‘어깨 따로 돌리기’와 같은 방법으로 양 어깨와 등 전체를 모아서 뒤에서 앞으로, 그리고 앞가슴과 어깨를 앞에서 뒤로 돌려준다. 호 흡은 어깨 따로 돌리기보다 깊고 천천히 한다.<br>
          모든 어깨 행공은 어깨에만 기운이 들어가도록 한다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/어깨돌리기.jpg" alt="" class="img-fluid d-block" style="height:300px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
          <h3>흉추 행공</h3>
            (1) 양팔 들어 앞으로 돌리기<br>
            손가락을 가볍게 쥐고 양팔을 어깨 높이에서 수평으로 편다. ‘지 ~’호흡에 양팔을 내려 몸통 앞에서 교차시켜 돌려주며, ‘천~’호흡에 오른팔은 오른어깨 뒤로, 왼팔은 왼어깨 뒤로 툭 던져주었다가 팔을 다시 옆으로 편다. 이 동작을 되풀이하여 흉추를 푼다.<br>
            (2)양팔머리모아옆으로돌리기<br>
            ‘천~’호흡에 두 손으로 머리를 가볍게 감싸며 뒷사람이 보일 정도 로 몸통(흉추)을 180도 뒤로 돌려준다. ‘지~’호흡에 빠르게 몸통을 앞으로 돌린다. 뒷머리를 감싼 두 손은 돌아오는 탄력에 의해 자연스 럽게 풀리도록 한다. 좌측으로 돌리기가 끝나면 오른쪽으로 돌린다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/양팔돌리기.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br>
          (3) 45도 뒤로 젖히기<br>
          ‘천~’호흡에 양팔을 앞에서 왼쪽 방향으로 두 번 돌린 다음, ‘지~’ 호흡에 왼손을 왼쪽 옆구리 뒤에 대는 동시에 오른팔이 몸통을 끌 도록 하여 45도 뒤쪽 대각선 방향으로 멀리 던져준다. 다음에는 방 향을 바꿔서 오른쪽 뒤로 던져준다. <br>

          (4)양팔들어허리돌리기<br>
          ‘천~’호흡에 양팔을 앞쪽으로 펴서 어깨 높이까지 올린다. ‘지~’호 흡에 몸통을 뒤로 빠르게 돌리며 양팔을 편 채로 수평으로 왼쪽 뒤 로 던진다. ‘천~’호흡에 몸통과 팔이 앞으로 돌아오고 ‘지~’호흡에 양팔을 내린다. 다음에는 방향을 바꿔서 오른쪽 뒤로 던진다.<br>

          (5) 가슴 펴기<br>
          ‘천~’호흡에 왼발을 한걸음 앞으로 내딛고, ‘지~’호흡에 허리를 밀 어 넣으며 순간적으로 가슴을 앞으로 쫘악 폄과 동시에 양팔은 가슴 이 더욱 더 펴질 수 있도록 빠른 속도로 뒤로 던진다. ‘천~’호흡으로 돌아온다. 그런 다음 순서를 바꿔 오른발을 내디디며 가슴을 편다.<br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/대각선.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
          <h3>허리 돌리기</h3>
          발을 어깨넓이 만큼 벌리고 손은 허리에 둔다. 무릎을 곧게 펴고 허리를 세우며 가슴을 펴서 준비자세를 갖춘다. 그 다음 허리가 오 른쪽으로 최대한 밀어내어 그 자세(각도)를 그대로 유지한 채, ‘지~’호 흡에 천천히 앞으로 그리고 왼쪽 옆으로 허리를 돌려나간다. ‘천~’호 흡’에 요추가 왼쪽 옆에서 천천히 뒤를 돌아서 오른쪽 옆으로 돌아온 다. 천천히 한 바퀴 돌린 다음에는 같은 방향으로 부드럽고 가볍게 돌린다. 이때도 허리가 앞으로 갈 때 ‘지~’호흡, 뒤로 돌아갈 때 ‘천~’ 호흡이다. 왼쪽으로 돌리기가 끝나면 오른쪽으로 방향을 바꾼다.<br>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/허리돌리기.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>무릎 행공</h3>
        (1) 무릎 굽히기<br>
        두 무릎과 복사뼈를 서로 붙인 다음 상체를 숙여 양손을 무릎 위 에 가볍게 얹는다. ‘지~’호흡에 단전의 기운을 발끝으로 내려 보내 며 허벅지 뒷부분과 종아리가 만날 때까지 무릎을 앞으로 밀어준 다. 무릎이 앞으로 밀려가는 기운에 맞추어 발가락도 젖혀지게 하 며, 무릎이 앞으로 밀려 완전히 굽혀졌을 때 발가락도 최대한 젖혀 지게 한다. 이 상태에서 한 번 더 ‘지~’호흡을 하면서 기운을 발가락 으로 밀어준다.<br>
        ‘천~’호흡에 그 기운을 그대로 안고 무릎과 발가락을 펴면서 손으 로 지긋이 무릎 위를 눌러준다. 그리고 한 번 더 ‘천~’호흡에 손으로 무릎을 눌러서 펴준다. 무릎 굽히기의 호흡은 다른 동작과 달리 2번씩 “뱉고, 뱉고” “마시고, 마시고”이다.<br>
        (2) 무릎 돌리기<br>
        준비자세는 무릎 굽히기와 같다. ‘지~’호흡 한 번에 무릎을 약간 구부려 왼쪽 방향으로 한 바퀴 돌리고, 연이은 ‘지~’호흡에 한 바퀴 더 돌린다. ‘천~’호흡에 무릎을 펴며 손으로 무릎이 쫘악 펴지도록 눌러준다. 연이은 ‘천~’호흡에 한 번 더 무릎을 눌러준다. 그런 다음 회전방향을 바꾼다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/무릎행공.jpg" alt="" class="img-fluid d-block" style="height:300px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 align-self-center">
          <br><br>
        <h3>허리 굽히기</h3>
        허리 굽히기는 척추, 골반, 대퇴부 등 몸의 큰 골격이 제자리에 서 게 하는 행공이다. 예비행공, 기초행공, 본행공으로 온 몸의 관절을 충분히푼후에하는행공의꽃이다.허리굽히기는 몸이변화하는 데 따라 그 깊이도 다르며 또 다른 나를 들여다 보게 되는 묘미가 있다.<br>
        허리 굽히기의 핵심은 몸의 중추인 척추를 펴는 행공이다. 척추 를 펴기 위해서는 무릎(오금)을 펴고 허리를 놓아야 한다. 허리굽히 기는 신체의 각 부위가 상호작용을 하는 것이 많아 동작도 11가지 이다. 기초가 되는 기본동작인 ‘양발 벌려 앞으로 접기’를 중심으로 살펴본다.<br>
        기본동작 준비자세로, 양발 사이의 거리는 어깨넓이보다 조금 넓 게 잡고, 발 안쪽 라인이 11자가 되게 한다. 양다리 특히 무릎(오금) 을 펴고 상체는 척추를 편 상태에서 탈기하여 앞으로 쭈욱 내려놓 는다. 두 손은 엄지손가락이 교차하게 가볍게 서로 잡는다. 팔은 팔 꿈치를 굽혀 손이 턱 가까이 오게 한다.<br>
        준비자세가 끝나면 ‘천~’호흡에 상체(가슴)가 들어 올려지며 손은 가슴 부근으로 가져온다. ‘지~’호흡에 상체를 툭 떨어지며, 손은 맞잡은 그 상태로 얼굴을 지나 앞으로 쭉 밀어준다. 이때 굽혀진 팔꿈 치를 자연스럽게 모아주며 손을 앞으로 밀어 준다.<br>
        미골, 선골 위에서 허리가 굽지 않고 직선으로 내려가야 하지만 대부분 굽어 있다. 이 부분이 다 펴지면 초보자처럼 동작을 크게 하는 것이 아니라 최대한 다리에 밀착된 상태에서 한다.
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/허리굽히기.jpg" alt="" class="img-fluid d-block" style="height:250px">
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 align-self-center">
          <br><br>
        <h3>사피술(蛇皮術)</h3>
        뱀이 껍질을 벗고 앞으로 나아가는 모습의 사피술도 몸을 풀고 난 후에 하는 난이도가 있는 행공이다. 상체가 앞으로 나아가는 기운에 의해 양 다리는 뻗은 자세 그대로 옆으로 벌려지다가 상체가 쭉 앞으로 나아감에 따라 다리는 180도 뒤로 회전하며 밀려 나게 된다.<br><br>
        </div>
        <div class="col-md-6 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img class="mr-3" src="/static/img/사피술1.jpg" alt="" class="img-fluid d-block" style="width:250px;height:100px;">
            <img src="/static/img/사피술2.jpg" alt="" class="img-fluid d-block" style="width:250px;height:100px;">
         </div>
        </div>
      </div>
  </div>
  </section>

  <section id="mamu">
    <div class="container">
      <div class="row">
        <div class="col-md-9 align-self-center">
          <hr>
          <h1>마무리 행공 </h1><br>
          <p>
            마무리 행공은 기운을 정리정돈하여 단전에 갈무리하는 행공이다.<br>
            두 손을 단전에 모으고 발뒤꿈치를 붙여서 똑바로 선다. ‘천~’호 흡에 두 손을 가슴으로 끌어올린 다음 양옆으로 팔을 쫘악 펴준다. 이때 단전에서부터 끌어올린 기운을 척추를 중심으로 몸 뒤 어깻죽 지를 타고 양쪽 손바닥(노궁혈)으로 펼쳐내며, 호흡은 노궁혈을 통해 단전에 이르게 한다. ‘지~’호흡에 상체와 팔을 탈기시켜 앞으로 숙 여서 손바닥이 위로 향하게 하여 발목 뒤 바닥에 내려놓는다.<br>
            다시 ‘천~’호흡으로 탈기된 상체를 일으켜 세운다. 이때에는 발바 닥의 용천혈에서부터 기운을 끌어올리며 호흡으로 상체를 밀어 일 으킨다. 즉 배가 등을 밀어 바로 세운 다음에 처음처럼 팔과 손으로 기운을 가슴까지 끌어올려 다시 양옆으로 팔을 쫘악 펴준다. 2회 되풀이하고 3번째 ‘지~’호흡 때 양손과 함께 기운을 단전에 모은다.
          </p>
        </div>
        <div class="col-md-3 my-auto">
          <div class="d-flex justify-content-center my-1">
            <img src="/static/img/마무리.jpg" alt="" class="img-fluid d-block" style="height:250px">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
