<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}"">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-success">
      <a class="navbar-brand" href="/home"><img src="/static/img/logo.png" style="width:40px;" class="mx-5">
        {% if home %}<img src="/static/img/sangho_opt.png" style="height:50px;" class="mx-5">
        {% elif about %}혈기시통(穴氣始通)
        {% elif services %}무통선인(無痛仙人)
        {% elif blog %}선호흡 후동작(先呼吸 後動作)
        {% elif contact %}탈기(脫氣)
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if home %}active{% endif %}">
            <a class="nav-link" href="/home">홈</a>
          </li>
          <li class="nav-item {% if about %}active{% endif %}">
            <a class="nav-link" href="/about">천지행공 소개</a>
          </li>
          <li class="nav-item {% if services %}active{% endif %}">
            <a class="nav-link" href="/services">행공 안내</a>
          </li>
          <li class="nav-item {% if blog %}active{% endif %}">
            <a class="nav-link" href="/blog">체험글</a>
          </li>
          <li class="nav-item {% if contact %}active{% endif %}">
            <a class="nav-link" href="/contact">연락처</a>
          </li>
        </ul>
      </div>
  </nav>
</div>

  <div class="container">
    {% block content %} {% endblock %}
  </div>

  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2017 &copy; 천지행공</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Video Modal -->
  <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
          <iframe width="100%" height="315" src="" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="back-to-top"><i class="fa fa-arrow-circle-up"></i>처음으로</a>

  <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>
</html>
