{% extends "base.html" %}
{% block title %}Blog Page{% endblock%}
{% block content %}

  <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
            <!-- <h1>체험글을 읽어 보세요.</h1>
            <p>제3항의 승인을 얻지 못한 때에는 그 처분 또는 명령은 그때부터 효력을 상실한다. 이 경우 그 명령에 의하여 개정 또는 폐지되었던 법률은 그 명령이 승인을 얻지 못한 때부터 당연히 효력을 회복한다.</p> -->
          </div>
        </div>
      </div>
  </header>

  <section id="blog" class="py-2">
    <div class="container">
      <div class="card-group">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title p-3">선인(仙人)들의 건강법</h4>
            <p class="card-text p-3">탈이 나기 전에는 고마움을 잊기 쉬운 것이 몸이다. 몸은 영혼을 담는 그릇이자 인격을 지켜주는 호위무사이지만 마치 하인이나 물건 다루듯 하는 경향이 있다. 그 탓에 얻는 것이 중노년기의 질병과 고통이다. 이 책은 몸을 내 삶의 주인으로 모시고 담금질하여 몸의 숨어있는 능력을 살려냄으로써 평생을 젊게 살아간 선인(仙人)들의 건강법을 담고 있다. 산중에서 이어져 온 선인들의 지혜와 향기가 절로 전해져 온다. 속세에선 접하기 어려운 얘기들이 많다.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">배인준/동아일보 주필</small>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title p-3">현대인의 건강운동</h4>
            <p class="card-text p-3">천천히 반복적으로 깊은 호흡을 들이쉬고 내쉬는 혈기행공은, 머리부터 발끝까지 여태까지 잘 사용하지 않은 팔, 다리, 허리, 목, 어깨, 몸통 등 모든 근육을 골고루 이완시키고 수축하는 유산소(有酸素) 운동이다. 특히 오래 수련한 유단자들의 상체 탈기된 180도 꺽인 허리굽히기는 마치 버드나무처럼 유연하다. 이러한 자세는 오랜 수련의 결과로써 호흡과 튼튼한 하체의 힘이 유지되어야 가능한 것이다. 혈기행공은 지구력을 요구하는 근육(type I)의 발달과 근육세포내 에너지를 담당하는 미토콘드리아(mitochondria) 수를 증가시키는 역할을 하여 체중감소와 피로를 줄이는 현대인의 건강운동으로 생각된다.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">김광국/서울아산병원 신경과 교수</small>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title p-3">유익한 건강 Method</h4>
            <p class="card-text p-3">혈기행공은 신체상과 관련하여 남성에게는 건강미 넘치는 강한 체력을, 여성에게는 건강한 몸과 유연하고 부드러운 에스라인의 몸매, 노인들에게는 Well-dying 순간까지 자유로운 몸, 건강한 몸으로 삶의 질을 높일 수 있는 매력적 한국고유의 심신선도 수련방법입니다. 유익한 건강 메소드(Method) 혈기행공을 여러분들의 건강을 위하여 적극 추천합니다.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">박진희/상명대학교 무용예술학과 교수</small>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title p-3">진정한 행복의 길</h4>
            <p class="card-text p-3">혈기행공! 나이들며 굳어지는 내 몸을 회춘시킵니다. 몸과 마음이 하나되는 천(天)지(地)호흡은 진정한 행복의 길입니다.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">손수일/변호사</small>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
