{% extends "base.html" %}
{% block title %}Contact Page{% endblock%}
{% block content %}

  <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
            <!-- <h2>연락처를 남겨 주세요.</h2> -->
          </div>
        </div>
      </div>
  </header>

  <section id="contact" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="card p-4">
            <div class="card-header">
              <h2>카카오톡이나 전화로 상담/문의 가능합니다.</h2><br>
              <img src="/static/img/kakao.jpg" alt="Kakao" width="60px">
              <h3>'천지행공'을 검색하시고 친구 추가하시면 카카오톡으로 상담 가능합니다.</h3>
              <p>카카오톡 <span><i class="fa fa-arrow-right fa-4x"></i></span>친구 <span><i class="fa fa-arrow-right fa-4x"></i></span> 검색창에 '천지행공' 입력 <span><i class="fa fa-arrow-right fa-4x"></i></span> 친구 추가</p>
              <i class="fa fa-phone"></i>
              <h3>010-8772-4070(김윤정 사범)</h3>
            </div>
            <div class="card-body">
              <h3>찾아오시는 길</h3><br>
              <h4>서울시 종로구 자하문로 4길 21-5(통의동 35-24) 광업회관 4 층</h4>
              <div>
                <a href="/static/img/map1.png" data-toggle="lightbox" class="d-block mb-4 h-400">
                  <img class="img-fluid img-thumbnail" src="/static/img/map1.png" alt="">
                </a>
              </div>
            </div>
          </div>
        <!-- <div class="col-md-8">
          <div class="card p-4">
            <div class="card-body">
              <h3 class="text-center">상담, 문의 사항 있으면 아래 양식을 작성해 주십시오.</h3>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="성명">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="전화번호">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="이메일">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="메시지"></textarea>
                  </div>
                </div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-outline-danger btn-block">
            </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- Staff section -->
  <!-- <section id="staff" class="py-5 text-center bg-dar">
    <div class="container">
      <h1>사범님들</h1>
      <hr> -->
      <!-- <div class="row">
        <div class="col-md-3">
          <img src="/static/img/teacher1.png" style="width:150px;" class="img-fluid rounded-circle mb-2">
          <h4>노영식 사범</h4>
        </div>
        <div class="col-md-3">
          <img src="/static/img/teacher2.png" style="width:160px;" class="img-fluid rounded-circle mb-2">
          <h4>김윤정 사범</h4>
        </div>
        <div class="col-md-3">
          <img src="/static/img/teacher3.png" style="width:140px;" class="img-fluid rounded-circle mb-2">
          <h4>김경은 사범</h4>
        </div>
        <div class="col-md-3">
          <img src="/static/img/teacher4.png" style="width:140px;" class="img-fluid rounded-circle mb-2">
          <h4>정연우 사범</h4>
        </div>
      </div> -->
    <!-- </div>
  </section> -->

  {% endblock %}
