{% extends "base.html" %}
{% block title %}Contact Page{% endblock%}
{% block content %}

  <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
            <h2>연락처를 남겨 주세요.</h2>
          </div>
        </div>
      </div>
  </header>

  <section id="contact" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-4">
            <div class="card-body">
              <h4>도장 주소</h4>
              <p>서울시 종로구 경복궁역 광업회관 4 층</p>
              <h4>전화 번호</h4>
              <p>02)333-3334</p>
              <div>
                <a href="/static/img/map1.png" data-toggle="lightbox" class="d-block mb-4 h-400">
                  <img class="img-fluid img-thumbnail" src="/static/img/map1.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card p-4">
            <div class="card-body">
              <h3 class="text-center">아래 양식을 작성해 주세요.</h3>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="성명">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="전화번호">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="메시지"></textarea>
                  </div>
                </div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-outline-danger btn-block">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Staff section -->
  <section id="staff" class="py-5 text-center bg-dar">
    <div class="container">
      <h1>사범님들</h1>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="/static/img/person1.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>김제인 사범</h4>
          <small>대표사범</small>
        </div>
        <div class="col-md-3">
          <img src="/static/img/person2.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>김토마스 사범</h4>
        </div>
        <div class="col-md-3">
          <img src="/static/img/person3.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>박 마크 사범</h4>
        </div>
        <div class="col-md-3">
          <img src="/static/img/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
          <h4>박나래 사범</h4>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
