{% extends "base.html" %}
{% block title %}천지행공 안내{% endblock%}
{% block content %}
  <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
          </div>
        </div>
      </div>
  </header>

  <section id="services">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-8 m-auto text-center">
          <h2 class="text-center bg-warning">행공 시간 (경복궁 본원)</h2>
          <table class="table belt">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">월</th>
                <th scope="col">화</th>
                <th scope="col">수</th>
                <th scope="col">목</th>
                <th scope="col">금</th>
                <th scope="col">토</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">11시<br>30분</th>
                <td>김경은</td>
                <td>김윤정</td>
                <td>한창조</td>
                <td>정연우</td>
                <td>정연우</td>
                <td>월1회</td>
              </tr>
              <tr>
                <th scope="row">오후 <br>5시</th>
                <td>김윤정</td>
                <td>천부영</td>
                <td>조명래</td>
                <td>김윤정</td>
                <td>노영식</td>
                <td>집중수련</td>
              </tr>
              <tr>
                <th scope="row">오후 <br>7시</th>
                <td>김윤정</td>
                <td>김경은</td>
                <td>박진희</td>
                <td>김윤정</td>
                <td>노영식</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-8 m-auto text-center">
          <h2 class="text-center bg-warning">행공 시간 (강남분원)</h2>
          <table class="table belt">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">월</th>
                <th scope="col">화</th>
                <th scope="col">수</th>
                <th scope="col">목</th>
                <th scope="col">금</th>
                <th scope="col">토</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">오후 <br>4시30</th>
                <td></td>
                <td>정연우</td>
                <td></td>
                <td>최명숙</td>
                <td>김윤정</td>
              </tr>
              <tr>
                <th scope="row">오후 <br>7시</th>
                <td></td>
                <td>정연우</td>
                <td></td>
                <td>최복임</td>
                <td>김윤정</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-8 m-auto text-center">
          <h2 class="text-center bg-warning">승급 제도</h2>
          <table class="table belt">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">승급기간</th>
                <th scope="col">띠</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>3개월</td>
                <td>노란</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>6개월</td>
                <td>보라</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>6개월</td>
                <td>녹색</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>6개월</td>
                <td>밤색</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>6개월</td>
                <td>파란</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>6개월</td>
                <td>주황</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>10개월</td>
                <td>빨강</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>1년</td>
                <td>단보</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>2년</td>
                <td>검정</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <h2 class="text-center bg-warning">회 비</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center my-2">
            <div class="card-header">
              <h3>신입회원 회비</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                30 만원
              </h4>
              <p class="card-text">(10만원 x 3개월)</p>
            </div>
            <div class="card-footer text-muted">
              3개월 회비 선납
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center my-2">
            <div class="card-header">
              <h3>성인 월회비</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                15 만원
              </h4>
              <p class="card-text">(15만원 x 1 개월)</p>
            </div>
            <div class="card-footer text-muted">
              매월 납부
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card text-center my-2">
            <div class="card-header">
              <h3>연회비</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                150 만원
              </h4>
              <p class="card-text">(15만원 x 10 개월)</p>
            </div>
            <div class="card-footer text-muted">
              1 년 회비 선납
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card text-center my-2">
            <div class="card-header">
              <h4>가족 회비</h4>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                100 만원
              </h4>
              <p class="card-text">(10만원 x 10 개월)</p>
            </div>
            <div class="card-footer text-muted">
              1 년 회비 선납
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center my-2">
            <div class="card-header">
              <h3>가족학생 회비</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                80 만원
              </h4>
              <p class="card-text">(8만원 x 10개월)</p>
            </div>
            <div class="card-footer text-muted">
              1 년 회비 선납
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center my-2">
            <div class="card-header">
              <h3>학생 회비</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                100 만원
              </h4>
              <p class="card-text">(10만원 x 10개월)</p>
            </div>
            <div class="card-footer text-muted">
              1 년 회비 선납
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center my-2">
            <div class="card-header">
              <h3>강남 분원 월회비</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                10 만원
              </h4>
              <p class="card-text">(10만원 x 1개월)</p>
            </div>
            <div class="card-footer text-muted">
              매월납부
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section id="faq" class="p-5">
    <div class="container">
      <h2 class="text-center bg-warning">자주 묻는 질문</h2>
      <div class="row">
      <div class="col-md-6">
        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  천지행공의 유래는 어떻게 되나요 ?
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                천지행공은 설악산에서 스승과 함께 심신 수련을 한 우혈(宇穴) 선생님이 1985 년 서울에서 도장을 내고 가르친 혈기도(穴氣道)에 그 뿌리를 두고 있습니다. 진정한 도를 추구했던 선생님이 어느날 홀연히 도장을 떠난 후 초창기 제자였던 조명래(趙明來)사범님을 중심으로 도장을 열고 수련을 이어 오고 있습니다.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  승급일은 언제 인가요 ?
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                매월 마지막 주 목요일이 승급 심사일 입니다.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  회비 이외의 비용은 없나요 ?
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                처음 입문할 때 도복 구입비가 추가 됩니다. <br>
                승급 심사비는 노란/보라/녹색 5 만원, 밤색/파란/주황 10 만원, 빨강 20 만원 입니다.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="accordion2" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  천지행공에서 말하는 혈(穴)이란 무엇인가요 ?
                </a>
              </h5>
            </div>

            <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion2">
              <div class="card-body">
                혈(穴)이란 대우주의 에너지가 들어오고 나가는 곳 입니다. 세포마다 대우주의 에너지가 드나드는 문이 있는데 그것이 혈문 입니다. 혈문이 열려야 피부 호흡을 할 수 있게 됩니다.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFive">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                  단전(丹田)이란 어디 인가요 ?
                </a>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion2">
              <div class="card-body">
                단전(丹田)은 붉은 밭이란 뜻으로 우리 몸의 중심이 되는 곳 입니다. 배꼽아래 세치(손가락 3마디, 9cm)에 위치하며 그 크기는 네치 정도 됩니다. 단전은 선도 수련에서 가장 중요하게 여기는 곳 입니다.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingSix">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                  탈기(脫氣)란 무엇인가요 ?
                </a>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion2">
              <div class="card-body">
                탈기는 몸을 놓아주는 것 입니다. 호흡을 통해서 탈기를 합니다. 호흡을 통해 몸에 쌓인 객기를 몸 밖으로 배출하면 천기가 내 몸 속으로 들어 오게 됩니다.
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>

  </section>
  {% endblock %}
